.buttonMisTicket {
	background-image: url('img/misT.png');
}

.buttonAbrirTicket {
	background-image: url('img/misT.png');
}

.buttonTicketRapido {
	background-image: url('img/misT.png');
}

.sinBorde {
	border: none;
}
.ui-panelgrid td, .ui-panelgrid tr{
    border-style: none !important
}

/* Style para detalle de ticket */
.titulo {
	font-size:20px;
	text-align:left;
	font-family:verdana, sans-serif;
	margin:20px;"
}
.texto {
	font-weight:bold;
	font-size:20px;
	text-align:left;
	font-family:verdana, sans-serif;
	margin:20px;"
}


/* Style para la tabla listar tickets */
.backgroundTodos {
	color: #000000;
	font-family: "Georgia", Times, serif;
	font-weight: bold;
}
.backgroundRegistrado {
	color: #4ca6ff;
	font-family: "Georgia", Times, serif;
	font-weight: bold;
}
.backgroundEnCurso {
	color: #7bee8e;
	font-family: "Georgia", Times, serif;
	font-weight: bold;
}
.backgroundEnEspera {
	color: #ff4c4c;
	font-family: "Georgia", Times, serif;
	font-weight: bold;
}
.backgroundFinalizado {
	color: #e6dc00;
	font-family: "Georgia", Times, serif;
	font-weight: bold;
}
.numeroEstado {
	font-family: "Georgia", Times, serif;
	font-weight: bold;
	font-size: 20px;
}