#top {
	position: relative;
	background-color: white;
	color: black;
	padding: 5px; //
	margin: 20px 0px 10px 0px;
	width: 1100px;
	margin: auto;
}

#formTop {
	position: relative;
	background-color: white;
	color: black;
	padding: 5px; //
	margin: 20px 0px 10px 0px;
	width: 1100px;
	margin: auto;
}

#bottom {
	position: relative;
	background-color: black;
	padding: 30px; //
	margin: 10px 0px 0px 0px;
	hight: 800px;
	width: 1050px;
	margin: auto;
	display: none;
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

#right {
	float: right;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

.center_content {
	position: relative;
	background-color: #A9B5A8;
	padding: 5px;
}

body {
	
}

.left_content {
	background-color: #dddddd;
	padding: 5px;
	margin-left: 170px;
}

.right_content {
	background-color: #dddddd;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
	color: #09267C;
	font-weight: bold;
	text-decoration: none;
	width: 260px;
}

#top a:link:hover, #top a:visited:hover {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

#tabla {
	height: 400px;
	width: 1100px; //
	margin-top: 200px;
	margin: auto;
	text-align: center
}

#frm {
	margin: auto;
	margin-top: 10px;
	width: 1100px;
}

#frmMantenerSLA {
	margin: auto;
	margin-top: 10px;
	width: 1100px;
}

.ui-menubar {
	position: fixed;
	margin-top: 5px;
}

.ui-datatable {
	text-align: center;
}