.app-header{
	background: url("../img/ti3.png") no-repeat center top fixed;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.app-navbar{
	background: rgba(0,0,0,0.8);
	border-radius: 0;
}
.app-link{
	color: white;
	text-shadow: none;
}
.app-link:hover{
	color: white;
}
.app-nav>li>a{
	color: white;
	text-shadow: none;
}
.app-nav>li>a:hover{
	color: white;
	background-color: blue;
}
.app-icon{
	background: white;
}

.app-seccion1{
	background: rgba(0,0,0,0.4);
	margin-top: 50px;
	padding-top: 130px;
	padding-bottom: 100px;
}
.app-titulo{
	text-align: center;
	color: white;
	font-size: 2.8em;
	margin-bottom: 30px;
}
.app-descripcion{
	text-align: center;
	color: white;
	font-size: 1em;
	margin-bottom: 50px;
	padding-left: 80px;
	padding-right: 80px;
}

.app-boton{
	background: #0080d6;
	color: white;
}
.app-boton:hover{
	color: white;
}

.app-seccion2{
	margin: 80px 0;
}
.app-titulo2{
	margin-top: 0;
}
.app-separador{
	width: 150px;
	border-bottom: 1px solid #0080d6;
	margin-top: 10px;
	margin-bottom: 20px;
}
.app-justificar{
	text-align: justify;
	color: #727272;
}
.app-media{
	margin-top: 40px;
}
.app-glyphicon1{
	background-color: #0080d6;
	color: white;
	padding: 10px;
	font-size: 30px;
}

.app-seccion3{
	background: #f7f8fa;
	padding: 80px 0;
}

.app-contenedor{
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
.app-separador2{
	width: 150px;
	border-bottom: 1px solid #0080d6;
	margin: 20px auto;
}
.glyphicon2{
	color: #0080d6;
	font-size: 60px;
}
.app-descripcion2{
	color: #727272;
}

.app-footer{
	text-align: center;
	background: #f7f8fa;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 80px 0;
}
.app-empresa{
	margin-bottom: 50px;
}

@media(max-width: 768px){
	.app-seccion1{
		width: 100%;
	}
	.app-titulo{
		font-size:1.8em;
		margin-top: 50px;
		margin-bottom: 50px; 
	}
	.app-descripcion{
		font-size: 0.8em;
		margin-bottom: 50px;
	}
}