body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    text-align: center;
}

#top {
	position: relative;
	background-color: white;
	color: black;
	padding: 5px;
	margin: 20px 0px 10px 0px;
	width: 1100px;
	margin: auto;
}

.btn-menu{
	background: #303F9F !important;
	float: left !important;
	padding: 5px !important; 
	width: 50px !important;
	height: 50px !important;
	margin: auto !important;
	color: #FFFFFF !important;
}

.ui-menu{
	width: 280px !important;
}

.ui-menuitem{
	padding: 2px !important;
}

.center_content {
	position: relative;
	background-color: #FFFFFF;
	margin: 70px;
	margin-top: 20px;
	padding: 5px;
}

.btn-nuevo{
	margin-right: 10px !important;
}

#frmMantenerSLA {
	margin: auto;
	margin-top: 10px;
	width: 1100px;
}

.ui-spinner-input {
	width: 25px;
}

.ui-datatable {
	text-align: center;
}

.ui-dialog-content {
	background: #FFFFFF !important;
}

.btn-aceptar{
	margin-right: 10px !important;
}


.btn-cerrar{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100px;
}