<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	 <h:outputStylesheet name="./css/bootstrap.min.css"/>
	<title>Módulo de Atención</title>
</h:head>
<h:body>

	<p:panelGrid columns="2" style="float:left">
		<h:outputText value="Usuario: #{principalController.username}" />

		<form action="#{request.contextPath}/j_spring_security_logout">
			<input type="submit" value="Cerrar Sesion" />
		</form>
	</p:panelGrid>
	<h:form id="form">
	
	<p:layout fullPage="true">
	
	<div style="width:500px; text-align:center:;position:relative;margin:auto">
		<p:layoutUnit position="north" size="70" resizable="true"
			collapsible="true" style="border:none; background:transparent!important; width:500px!important; margin:auto!important">
			<h1 style="text-align:center;margin:10px 0 0 0;text-shadow: 1px 1px 2px black;font-weight:normal">Bandeja de Tickets</h1>
			
		</p:layoutUnit>
			</div>

		<!--				 Panel de ayuda 					-->
		<p:layoutUnit position="west" size="300" header="HelpDesk"
			resizable="true" closable="false" collapsible="true">

			<p:accordionPanel multiple="true">
				<p:tab title="Semaforo">
					<p:panel>
						<h:panelGrid columns="1" cellpadding="3">
							<p:commandLink >
								<h:outputText style="color:green" value="A tiempo (#{bandejaController.semaforoVerde()})" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:yellow" value="Por vencer (#{bandejaController.semaforoAmarillo()})" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:red" value="Vencidos (#{bandejaController.semaforoRojo()})" />
							</p:commandLink>

						</h:panelGrid>
					</p:panel>
				</p:tab>
				<p:tab title="Resumen">
					<p:panel>
						<h:panelGrid columns="1" cellpadding="3">
							<p:commandLink>
								<h:outputText style="color:#58ACFA" value="Registrado (#{bandejaController.ticketsNuevos()})" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:green" value="En Curso (#{bandejaController.ticketsEnAtencion()})" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:#FE642E" value="En Espera (#{bandejaController.ticketsEnEspera()})" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:black" value="Finalizado (#{bandejaController.ticketsFinalizado()})" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:black" value="Todos (#{bandejaController.ticketsTotal()})" />
							</p:commandLink>
						</h:panelGrid>

					</p:panel>

				</p:tab>
				<p:tab title="Por servicio">
					<p:panel>
						<h:panelGrid columns="2" cellpadding="10">


						</h:panelGrid>
					</p:panel>
				</p:tab>
			</p:accordionPanel>

		</p:layoutUnit>
		<!--				 Bandeja de entrada					-->
		<p:layoutUnit position="center">
		
				<p:growl id="growl" life="2000" />
			 
				<p:dataTable id="tblTicket"  styleClass="table table-striped table-bordered table-hover" value="#{bandejaController.ticket.listaTickets}" widgetVar="ticketsTable" var="tic"  style="margin-bottom:40px" emptyMessage="No se encontro ningún ticket"
					selectionMode="single" selection="#{bandejaController.ticketSeleccionado}" rowKey="#{tic.idTicket}" rows="5" paginator="true"
					paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,20">		 
					<f:facet name="header">
			            Tickets de Atención
			        </f:facet>
			        
			        <p:column headerText="Semáforo">
					  <div style="text-align: center">
						<div class="semaforo">
							<h:outputLabel value="" class="sem sem-verde" rendered="#{tic.prioridad == 'Baja'}" />
							<h:outputLabel value="" class="sem" rendered="#{tic.prioridad == 'Baja'}" />
							<h:outputLabel value="" class="sem" rendered="#{tic.prioridad == 'Baja'}" />
							<h:outputLabel value="" class="sem sem-verde" rendered="#{tic.prioridad == 'Media'}" />
							<h:outputLabel value="" class="sem sem-ambar" rendered="#{tic.prioridad == 'Media'}" />
							<h:outputLabel value="" class="sem" rendered="#{tic.prioridad == 'Media'}" />
							<h:outputLabel value="" class="sem sem-verde" rendered="#{tic.prioridad == 'Alta'}" />
							<h:outputLabel value="" class="sem sem-ambar" rendered="#{tic.prioridad == 'Alta'}" />
							<h:outputLabel value="" class="sem sem-rojo" rendered="#{tic.prioridad == 'Alta'}" />
						</div>
					 </div>
					</p:column>
					<p:column headerText="Código" sortBy="#{tic.codigoTicket}">
						<h:outputText value="#{tic.codigoTicket}" />
					</p:column>
					
					<p:column headerText="Asunto" sortBy="#{tic.asuntoTicket}">
						<h:outputText value="#{tic.asuntoTicket}" />
					</p:column>
					
					<p:column headerText="Estado" sortBy="#{tic.estadoTicket}">
						<h:outputText class="ui-messages-warn-icon" rendered='#{tic.estadoTicket == "REGISTRADO"}'/>&nbsp;
						<h:outputText value=" #{tic.estadoTicket}" />
					</p:column>

					<p:column headerText="Fecha" sortBy="#{tic.fechaModificada}">
						<h:outputText value="#{tic.fechaModificada}" />
					</p:column>
					
					<p:column headerText="Detalle/Reasignar" style="text-align:center">
			             <p:commandButton update=":form:ticDetail" oncomplete="PF('ticDialog').show()" icon="fa fa-fw fa-align-left" title="Detalle de Ticket" rendered='#{tic.estadoTicket == "REGISTRADO"}'>
			                <f:setPropertyActionListener value="#{tic}" target="#{bandejaController.selectedTicket}" />
			           	 </p:commandButton>
			           	 <p:commandButton update=":form:frmTabViewDetalle:tvDetalleTicket" oncomplete="PF('wgvDetaleTicket').show()" icon="fa fa-fw fa-align-left" title="Detalle de Ticket" rendered='#{tic.estadoTicket == "EN CURSO"}'>
			                <f:setPropertyActionListener value="#{tic}" target="#{detalleTicketController.detalleTicketModel.ticketSeleccionado}" />
			           	 </p:commandButton>
			             <p:commandButton update=":form:ticReasign" oncomplete="PF('ticReasign').show()" icon="fa fa-fw fa-user-plus" title="Reasignacion de Ticket" rendered='#{tic.estadoTicket == "EN CURSO"}'>
			                <f:setPropertyActionListener value="#{tic}" target="#{bandejaController.selectedTicket}" />
			            </p:commandButton>
			            
			          
			        </p:column>
			        
				</p:dataTable>
				<p:commandButton value="actualizar" id="actualizarTabla" icon="fa fa-fw fa-align-left" title="Detalle de Ticket" actionListener="#{bandejaController.actualizarTabla}" update=":form:tblTicket,growl" style="display:none">
			                
			           	 </p:commandButton>
			    
				
		</p:layoutUnit>
	
<!-- MODAL DETALLE DE TICKET -->	

	<p:dialog header="Detalle Ticket" widgetVar="ticDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" >
			        
			        
			        <p:outputPanel id="ticDetail" style="width:600px">
						
			 					<div class="col-sm-12 col-md-2">
			 						<h:outputText value="Código:" style="font-weight:bold"/>
			 					</div>
			 					<div class="col-sm-12 col-md-10">
			 						<h:outputText value="#{bandejaController.selectedTicket.codigoTicket}" />
			 					</div>
			 					<p:separator />
			 					<div class="col-sm-12 col-md-2">
			 						<h:outputText value="Asunto" style="font-weight:bold"/>
			 					</div>
			 					<div class="col-sm-12 col-md-10">
			 						<h:outputText value="#{bandejaController.selectedTicket.asuntoTicket}" />
			 					</div>
			 					<p:separator />
			 					<div class="col-sm-12 col-md-2">
			 						 <h:outputText value="Detalle:" style="font-weight:bold"/>
			 					</div>
			 					<div class="col-sm-12 col-md-10">
			 						<h:outputText value="#{bandejaController.selectedTicket.detalleTicket}"/>
			 					</div>
			 					<p:separator />
			 					<div class="col-sm-12 col-md-2">
			 						 <h:outputText value="Estado:" style="font-weight:bold"/>
			 					</div>
			 					<div class="col-sm-12 col-md-10">
			 						<h:outputText value="#{bandejaController.selectedTicket.estadoTicket}" />
			 					</div>
			 					<p:separator />
			 					<div class="col-sm-12 col-md-2">
			 						 <h:outputText value="Fecha:" style="font-weight:bold"/>
			 					</div>
			 					<div class="col-sm-12 col-md-10">
			 						<h:outputText value="#{bandejaController.selectedTicket.fechaModificada}" />
			 					</div>
			 					<p:separator />
								<div class="col-sm-12" style="margin-top:10px;margin-bottom:10px">
									<center>
										<p:commandButton value="Tratar el Ticket" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
											actionListener="#{bandejaController.aceptarTicket}" update=":form:tblTicket,growl" oncomplete="PF('ticDialog').hide()">
										</p:commandButton>
										<p:commandButton value="Cancelar"
											process="@this" oncomplete="PF('ticDialog').hide()">
										</p:commandButton>
										<br />
									</center>
								</div>
						
			        </p:outputPanel>	        
			    </p:dialog>
			    
<!-- FIN DE MODAL DETALLE DE TICKET-->	


<!-- MODAL DETALLE Y CHAT TICKET -->
	<p:dialog id="detalleTicker" widgetVar="wgvDetaleTicket" modal="true"
		appendTo="@(body)" resizable="false" closeOnEscape="true"
		position="center" showEffect="fade" hideEffect="fade" 
		header="#{i18n['det_ticket.titulo']}">
		
		<h:form id="frmTabViewDetalle" style="width: 830px">
			<p:spacer width="10px" />
			
			<p:tabView id="tvDetalleTicket" widgetVar="wgbDetalles" dynamic="true">
				<p:ajax event="tabChange"
					listener="#{detalleTicketController.obtenerMensajesTicket}"/>

				<p:tab id="tabDetalles" title="#{i18n['det_ticket.detalle']}">
					<h:panelGrid id="frmDetalles">
						<p:scrollPanel mode="native" style="height: 350px;">
							<p:panelGrid columns="1" style="width:100%;">

								<p:panelGrid columns="2" style="text-align: left; margin:10px;">
									<p:outputLabel
										style="font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.codigo']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.codigoTicket}" />

									<p:outputLabel
										style="font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.asunto']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.asuntoTicket}" />
								</p:panelGrid>

								<p:panelGrid columns="1" style="text-align: left; width:100%;">
									<p:outputLabel
										style="font-size:20px;text-align:left;font-family:verdana, sans-serif;"
										value="#{i18n['det_ticket.descripcion']}" />

									<p:outputPanel
										style="width:100%; height:150px; border:1px solid #666666;">
										<p:scrollPanel mode="native"
											style="width:708px; height:148px;">
											<p:outputLabel
												style="width:100%; font-size:15px; text-align:left; font-family:verdana;"
												escape="false"
												value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.detalleTicket}" />
										</p:scrollPanel>
									</p:outputPanel>
								</p:panelGrid>

								<p:panelGrid columns="2" style="text-align: left; margin:8px;">
									<p:outputLabel
										style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.servicio']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:13px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										escape="false"
										value="#{detalleTicketController.cadenaCategorias()}" />

									<p:outputLabel
										style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.fechacreacion']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{principalUsuarioController.principalListarModel.formatoFecha(detalleTicketController.detalleTicketModel.ticketSeleccionado.fechaTicket)}" />

									<p:outputLabel
										style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.estado']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.estadoTicket}" />
								</p:panelGrid>

								<p:panelGrid columns="2" style="text-align:rigth;margin-left:550px">
									<p:outputLabel
										style="font-size:15px;font-family:verdana, sans-serif;"
										value="#{i18n['det_ticket.prioridad']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:15px;font-family:verdana, sans-serif;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.prioridadTicket}" />
								</p:panelGrid>

							</p:panelGrid>
							
							<p:dataTable id="tablaArchivosTicket" var="archivo"
								value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.listaArchivosTicket}"
								emptyMessage="#{i18n['con_ticket.tabla.error.noArchivos']}"
								paginator="true" rows="5" paginatorPosition="bottom"
								currentPageReportTemplate="{currentPage} de {totalPages}"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
								<f:facet name="header">
										#{i18n['con_ticket.tabla.archivos']}
									</f:facet>

								<p:column headerText="#{i18n['con_ticket.tabla.nombre']}">
										<h:outputText value="#{archivo.nombreArchivo}" />
								</p:column>

								<p:column style="width:100px; text-align:center"
									headerText="#{i18n['con_ticket.tabla.descarga']}">
									<p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false"
										title="#{i18n['con_ticket.tabla.descarga']}" onclick="PrimeFaces.monitorDownload(start, stop);"
										actionListener="#{detalleTicketController.detalleTicketModel.descargarArchivo(archivo)}">
										<p:fileDownload
											value="#{detalleTicketController.detalleTicketModel.archivoDescargar}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
							
							
						</p:scrollPanel>
					</h:panelGrid>

				</p:tab>

				<p:tab id="tabMensajes" title="#{i18n['det_ticket.mensajes']}">
					<h:panelGrid>
						<p:scrollPanel mode="native" >
							<p:fieldset
								legend="Historial del ticket: #{detalleTicketController.detalleTicketModel.ticketSeleccionado.codigoTicket}">
								<p:scrollPanel mode="native" style="height: 80px;">

									<h:panelGrid columns="1" style="width:100%; height:300px">
										<p:separator /> 
										<c:forEach items="#{detalleTicketController.detalleTicketModel.listaMensajesTicket}" var="mensaje">
											<h:panelGrid columns="1">

												<h:panelGrid columns="2">
													<h:outputText value="#{mensaje.decNombreUsuario}"
														style="font-weight:bold;font-size:14px;text-align:left;font-family:verdana, sans-serif;" />

													<h:outputText value="Fecha: #{detalleTicketController.detalleTicketModel.formatoFecha(mensaje.fechaMensaje)}"
														style="font-weight:bold;font-size:14px;text-align:left;font-family:verdana, sans-serif;" />
												</h:panelGrid>
												
												<p:outputLabel
													style="font-size:12px;text-align:left;font-family:verdana, sans-serif;"
													escape="false" value="#{mensaje.mensaje}" />
													
												<h:panelGrid columns="1" >
													<c:forEach items="#{mensaje.listaArchivosMensaje}"
														var="archivo">
														
														<h:panelGrid columns="2">
															<p:graphicImage name="img/picture.png" width="100%"
																height="100%" />

															<p:commandLink ajax="false"
																actionListener="#{detalleTicketController.detalleTicketModel.descargarArchivo(archivo)}">
																<h:outputText value="#{archivo.nombreArchivo}" />
																<p:fileDownload
																	value="#{detalleTicketController.detalleTicketModel.archivoDescargar}" />
															</p:commandLink>
														</h:panelGrid>
														
													</c:forEach>
												</h:panelGrid>
												
											</h:panelGrid>

											<p:separator />
										</c:forEach>
									</h:panelGrid>

								</p:scrollPanel>
							</p:fieldset>

							<p:fieldset legend="Respuesta">
								<center>
									<p:editor id="editorDetalle" widgetVar="editor2" maxlength="500"
										value="#{detalleTicketController.detalleTicketModel.mensajeDTO.mensaje}"
										height="150" width="650"
										/>

									<p:spacer height="10px" />

									<p:fileUpload
										value="#{detalleTicketController.detalleTicketModel.archivoMensaje}"
										mode="advanced" multiple="true"
										label="#{i18n['con_ticket.registrar.archivoAdjunto']}"
										uploadLabel="#{i18n['tipoOperacion.cargar']}"
										cancelLabel="#{i18n['tipoOperacion.cancelar']}"
										allowTypes="/(\.|\/)(gif|jpe?g|png|bmp|docx?|pdf)$/"
										invalidFileMessage="#{i18n['con_ticket.registrar.error.archivoNoValido']}"
										sizeLimit="5242880"
										invalidSizeMessage="#{i18n['con_ticket.registrar.error.tamañoNoValido']}"
										fileUploadListener="#{detalleTicketController.detalleTicketModel.cargarArchivo}" />
									<p:outputLabel
										value="Extensiones de archivos permitidas: .jpg, .gif, .png, .doc, .docx, .pdf, .sql" />
								</center>
								<center>
								<p:commandButton value="Enviar"
									actionListener="#{detalleTicketController.registrarMensaje}"
									style="width:120px; height:50px;" /></center>
							</p:fieldset>
						</p:scrollPanel>
					</h:panelGrid>
				</p:tab>
			
			</p:tabView>
		</h:form>
	</p:dialog>
	<!-- MODAL DETALLE TICKET -->
			    
<!-- MODAL DE REASIGNACION -->	

	<p:dialog header="Reasignacion de Ticket" widgetVar="ticReasign" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
			        
			        <p:outputPanel id="ticReasign">
			        
			       		<h:outputText value="Codigo del Ticket: #{bandejaController.selectedTicket.codigoTicket}" style="font-weight:bold;margin-bottom:5px"/>
					    
					    <p:dataTable id="radioDT" var="tra" value="#{bandejaController.trabajador.listaTrabajador}" selection="#{bandejaController.trabajadorSeleccionado}" rowKey="#{tra.id_trabajador}" style="width:700px">
					        <p:column selectionMode="single" style="width:35px;text-align:center"/>
					        <p:column headerText="Id Trabajador">
					            <h:outputText value="#{tra.id_trabajador}" />
					        </p:column>
					        <p:column headerText="Nombre">
					            <h:outputText value="#{bandejaController.obtenerNombreTrabajador(tra.id_usuario)}" />
					        </p:column>
					        <p:column headerText="Id Usuario">
					            <h:outputText value="#{tra.id_usuario}" />
					        </p:column>
					        <p:column headerText="Area">
					            <h:outputText value="#{tra.area}" />
					        </p:column>
					        <f:facet name="footer">
					            <p:commandButton process="radioDT" update=":form:traDialogconf" icon="ui-icon-search" value="Reasignar Ticket" oncomplete="PF('traDialogconf').show()" />
					        </f:facet>
					    </p:dataTable>			
			            <br />
			        </p:outputPanel>	        
			    </p:dialog>
			    
<!-- FIN MODAL REASIGNACION-->	

		<p:dialog header="Confirmacion de Reasignacion" widgetVar="traDialogconf" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
	        <p:outputPanel id="traDialogconf" style="text-align:center;">
	            <p:panelGrid>
	                <h:outputText value="¿Está seguro que desea reasignar el ticket?" style="font-weight:bold"/>
	                <h:outputText value="#{bandejaController.trabajadorSeleccionado.id_trabajador}" />
	            </p:panelGrid>
	            	<div style="margin-top:10px;margin-bottom:10px">
						<center>
						
							<p:commandButton value="Aceptar" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
								actionListener="#{bandejaController.reasignarTicket}" update=":form:ticReasign,:form:tblTicket,growl" oncomplete="PF('traDialogconf').hide(),PF('ticReasign').hide()">
							</p:commandButton>
							<p:commandButton value="Cancelar"
								process="@this" oncomplete="PF('traDialogconf').hide()">
							</p:commandButton>
							<br />
						</center>
						</div>
	        </p:outputPanel>
    	</p:dialog>
	
		</p:layout>
	</h:form>
<style>
a{
	text-decoration:none;
}
.sem{
	width:20px;
	height:20px;
	border:1px solid rgba(0,0,0,0.25);
	border-radius:20px;
	background: transparent;
	display:inline-block;
	margin-bottom:0;
}
.sem-verde{
	background:green;
}
.sem-ambar{
	background:yellow;
}
.sem-rojo{
	background:red;
}
.semaforo{
 padding:5px;
 width:80px;
 border: 1px solid rgba(0,0,0,0.5);
 border-radius:3px;
 text-align:center;
 margin:auto;
}
.ui-messages-warn-icon{
	height: 20px;
    width: 24px;
    margin-top: -2px;
}
div#form:tblTicket_paginator_top{
	display:none
}

#form:detalleTicker{
	width:500px!important;
	height:500px!important";
}

.ui-fieldset .ui-fieldset-legend{
	    padding: 0em 0em;
		margin-bottom:0;
}

.ui-widget-content{
	*background: transparent;
}
</style>
	<script>
			    
    var submitBtn = document.getElementById('form:actualizarTabla');
    submitBtn.click();
    console.log("Se actualizo");
    </script>


</h:body>


</html>
