<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	 <h:outputStylesheet name="../resources/css/default.css"/>
	<title>Módulo de atención</title>
</h:head>
<h:body>
	<h:form id="form">
	
	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="70" resizable="true"
			collapsible="true">
			<h5>Módulo de atención de tickets</h5>
		</p:layoutUnit>


		<!--				 Panel de ayuda 					-->
		<p:layoutUnit position="west" size="450" header="HelpDesk"
			resizable="true" closable="false" collapsible="true">

			<p:accordionPanel multiple="true">
				<p:tab title="Resumen">
					<p:panel>
						<h:panelGrid columns="1" cellpadding="3">
							<p:commandLink>
								<h:outputText style="color:#58ACFA" value="Nuevos (2)" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:green" value="En atención (3)" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:#FE642E" value="En espera (0)" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:black" value="Finalizado (10)" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:black" value="Todos (15)" />
							</p:commandLink>
						</h:panelGrid>

					</p:panel>




				</p:tab>
				<p:tab title="Semaforo">
					<p:panel>
						<h:panelGrid columns="1" cellpadding="3">
							<p:commandLink >
								<h:outputText style="color:#7bddb4" value="A tiempo (2)" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:#fbbf63" value="Por vencer (0)" />
							</p:commandLink>
							<p:commandLink>
								<h:outputText style="color:#ff5959" value="Vencidos (1)" />
							</p:commandLink>

						</h:panelGrid>
					</p:panel>
				</p:tab>
				<p:tab title="Por servicio">
					<p:panel>
						<h:panelGrid columns="2" cellpadding="10">


						</h:panelGrid>
					</p:panel>
				</p:tab>
			</p:accordionPanel>

		</p:layoutUnit>
		<!--				 Bandeja de entrada					-->
		<p:layoutUnit position="center">

			<p:fieldset legend="Bandeja de tickets" style="margin-bottom:20px">

				<p:dataTable var="tic" value="#{bandejaController.misTickets}" style="margin-bottom:40px" emptyMessage="No se encontro ningún ticket"
							 selectionMode="single" selection="#{bandejaController.ticketSeleccionado}" rowKey="#{tic.numero}"
							 rowStyleClass="#{tic.estado_semaforo eq 'rojo' ? 'red' : tic.estado_semaforo eq 'verde' ? 'green' : tic.estado_semaforo eq 'amarillo' ? 'yellow' : normal }">
							 
					<f:facet name="header">
			            Tickest de atención
			        </f:facet>
			        
					<p:column headerText="Número" sortBy="#{tic.numero}">
						<h:outputText value="#{tic.numero}" />
					</p:column>

					<p:column headerText="Servicio" sortBy="#{tic.servicio}">
						<h:outputText value="#{tic.servicio}" />
					</p:column>
					
					<p:column headerText="Servicio" sortBy="#{tic.estado}">
						<h:outputText value="#{tic.estado}" />
					</p:column>
					<p:column headerText="Semaforo" sortBy="#{tic.estado}">
						<h:outputText value="#{tic.estado_semaforo}" />
					</p:column>

					
				</p:dataTable>

			</p:fieldset>

			
		</p:layoutUnit>
		
		<!--				 Footer				-->
			<p:layoutUnit position="south" size="150" header="Detalle"
				resizable="true" closable="false" collapsible="true">



			</p:layoutUnit>
		

	</p:layout>

	</h:form>
</h:body>


</html>

