<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/bootstrap.min.css"/>
    </h:head>
    <h:body >
            <p:growl id="growl" showDetail="true" />
            <div class="container">
            <p:dialog  showHeader="false" position="center" responsive="true" widgetVar="dlg" resizable="false" visible="true" closable="false" draggable="false">
			        <div class="card card-container">
			        	<img id="profile-img" class="profile-img-card" src="resources/img/avatar.png" />
			            <form class="form-signin" name='f' action="/Requerimientos/j_spring_security_check" method="post">
			                <input type="text" id="inputuser" name="j_username" class="form-control" placeholder="Usuario" required="true" autofocus="true" />
			                <input type="password" id="inputPassword" name="j_password" class="form-control" placeholder="Password" required="true" />
			                <button class="btn btn-lg btn-primary btn-block btn-signin" name="submit" type="submit">Ingresar</button>
			            </form>
			        </div>
   					  <h:outputText style="color:red;" value="#{param['status']}" />                 
            </p:dialog>
            </div>               
    </h:body>
</html>

