<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="refresh" content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/index.xhtml"/>        
        <h:outputStylesheet name="./css/style.css"/>
        <h:outputStylesheet name="./css/font-awesome.min.css"/>
        <title>Help_Soft</title>
        <h:outputStylesheet name="./css/bootstrap.min.css"/>
        <h:outputScript library="js" name="spanishLocale.js"/>
    </h:head>

    <h:body>
        <p:growl id="growl" showDetail="true"  />
        <div id="top">
            <ui:insert name="top">
                <h:form>
    				<p:commandButton id="dynaButton" styleClass="btn-menu fa fa-cog fa-3x" value=""/>
    				<p:menu overlay="true" trigger="dynaButton" my="left top" at="left bottom">
            			<p:menuitem value="Usuarios y Grupos de Atención" url="/faces/configuracion/conf_gestionUsuarioGrupoAtencion.xhtml"/>
            			<p:menuitem value="Catálogo de Servicios" url="/faces/configuracion/catalogo_servicios.xhtml"/>
            			<p:menuitem value="Gestion de Servicios" url="/faces/configuracion/conf_gestionServicios.xhtml"/>
            			<p:menuitem value="SLA'S" url="/faces/configuracion/conf_mantenerSlas.xhtml"/>
<!--             			<p:menuitem value="Gestion de plantillas" url="/faces/configuracion/conf_gestionPlantillaServicio.xhtml"/> -->
    	    		</p:menu>
    	    		<h1 >Bienvenido al Módulo de Configuración</h1>
    			</h:form>
    			
	    		<form action="#{request.contextPath}/j_spring_security_logout" class="form-cerrar">
	    			<button  type="submit" class="btn btn-default btn-primary btn-cerrar">Salir</button>
				</form>	 
				
					<h:outputText value="Usuario: #{principalController.username}" />
		 		    			
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">
            <div><img style="width: 1200px" src="resources/img/ti3.png"/></div>
            </ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom"></ui:insert>
        </div>

    </h:body>
    
    
</html>
