<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet name="./css/style.css" />
	<h:outputStylesheet name="./css/font-awesome.min.css" />
	<h:outputStylesheet name="css/cliente.css" />
	<title>Principal</title>
	<h:outputScript library="js" name="spanishLocale.js" />
</h:head>
<h:body>
	<div>
		<p:layout fullPage="true">

			<p:layoutUnit position="north" size="180">
				<ui:include src="/plantillaCliente/mant_ticketEncabezado.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="west" size="240">
				<ui:include src="/plantillaCliente/mant_ticketFavoritos.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<ui:include src="/plantillaCliente/mant_ticketCliente.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="south">
				<center>
					<p:outputLabel value="© Copyright Ingenieria de Sistemas"
						style="font-size:15px" />
				</center>
			</p:layoutUnit>
		</p:layout>
	</div>
</h:body>
</html>