<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</h:head>

<h:body>
	<p:growl id="growl" showDetail="true" />


	<h:form id="frmPrincipal">
		<center>

			<p:spacer height="10px" />

			<p:panelGrid columns="3" layout="grid">
				<p:commandButton id="btnMisTickets"
					actionListener="#{principalUsuarioController.misTickets}"
					value="#{i18n['con_ticket.boton.misTickets']}"
					icon="buttonMisTicket" style="width:200px; height:50px" />

				<p:commandButton id="btnAbrirTicket"
					actionListener="#{principalUsuarioController.abrirTicket}"
					oncomplete="PF('wgvNavegacionTicket').show()"
					value="#{i18n['con_ticket.boton.abrirTicket']}"
					icon="buttonAbrirTicket" style="width:200px; height:50px" />

				<p:commandButton id="btnTicketRapido"
					value="#{i18n['con_ticket.boton.ticketRapido']}"
					oncomplete="PF('wgvFormularioTicketRapido').show()"
					actionListener="#{principalUsuarioController.iniciarAgregarTicketRapido}"
					update=":frmPrincipal :frmRegistrarTicketRapido"
					icon="buttonTicketRapido" style="width:200px; height:50px" />
			</p:panelGrid>

			<p:spacer height="20px" />

			<h:form id="frmListaTickets">
				<p:dataTable id="tablaTicket" var="ticket"
					value="#{principalUsuarioController.principalListarModel.listaTicketsFiltrados}"
					emptyMessage="#{i18n['con_ticket.tabla.error.noTickets']}"
					paginator="true" rows="7" paginatorPosition="bottom"
					currentPageReportTemplate="{currentPage} de {totalPages}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
					<f:facet name="header">
						#{i18n['con_ticket.tabla.encabezado']}
					</f:facet>

					<p:column headerText="#{i18n['con_ticket.tabla.numero']}"
						sortBy="#{ticket.codigoTicket}">
						<h:outputText value="#{ticket.codigoTicket}" />
					</p:column>

					<p:column headerText="#{i18n['con_ticket.tabla.servicio']}"
						sortBy="#{ticket.descNomServico}">
						<h:outputText value="#{ticket.descNomServico}" />
					</p:column>

					<p:column headerText="#{i18n['con_ticket.tabla.asunto']}"
						sortBy="#{ticket.asuntoTicket}">
						<h:outputText value="#{ticket.asuntoTicket}" />
					</p:column>

					<p:column headerText="#{i18n['con_ticket.tabla.estado']}"
						sortBy="#{ticket.estadoTicket}">
						<h:outputText
							styleClass="#{ticket.estadoTicket eq 'REGISTRADO' ? 'backgroundRegistrado' : ticket.estadoTicket eq 'EN CURSO' ? 'backgroundEnCurso' : ticket.estadoTicket eq 'EN ESPERA' ? 'backgroundEnEspera' : ticket.estadoTicket eq 'FINALIZADO' ? 'backgroundFinalizado' : null}"
							value="#{ticket.estadoTicket}" />
					</p:column>

					<p:column headerText="#{i18n['con_ticket.tabla.fecha']}"
						sortBy="#{ticket.fechaTicket}">
						<h:outputText
							value="#{principalUsuarioController.principalListarModel.formatoFecha(ticket.fechaTicket)}" />
					</p:column>

					<p:column style="width:32px; text-align: center">
						<p:commandButton icon="ui-icon-search"
							update=":frmTabViewDetalle:tvDetalleTicket"
							oncomplete="PF('wgvDetaleTicket').show()"
							title="#{i18n['con_ticket.tabla.detalle']}">
							
							<f:setPropertyActionListener value="#{ticket}"
								target="#{detalleTicketController.detalleTicketModel.ticketSeleccionado}"/>
						</p:commandButton>
					</p:column>

				</p:dataTable>
			</h:form>

			

		</center>
	</h:form>


	<!-- NVEGACION PARA LA CREACION DE TICKET -->
	<p:dialog id="navNavegacionTicket" widgetVar="wgvNavegacionTicket"
		modal="true" appendTo="@(body)" resizable="false" closeOnEscape="true"
		position="center" hideEffect="clip" showEffect="clip"
		header="#{i18n['con_ticket.abrirTicket']}">

		<h:form id="frmNavegacionTicket" style="width: 950px">
			<p:spacer height="30px" />
			<p:outputLabel value="#{i18n['con_ticket.abrirTicket']}"
				style="font-size: 30px; margin-top: 50px;" />

			<p:scrollPanel mode="native" style="height: 550px">
				<p:panelGrid columns="1" style="margin-left:80px">
					<p:commandButton id="btnAtras" value="#{i18n['reg_ticket.atras']}"
						oncomplete="PF('wgvMenuCategorias').back()"
						style="width:100px; height:30px;" />
				</p:panelGrid>
				<center>
					<p:spacer width="10px" />
					<p:wizard id="menuCategorias" showNavBar="false" style="width:80%"
						widgetVar="wgvMenuCategorias">

						<p:tab id="categoria1" title="#{i18n['reg_ticket.categoria1']}">
							<p:panel header="#{i18n['con_ticket.registrar.categoria1']}">

								<h:panelGrid columns="1" cellpadding="5" style="width:700px">
									<p:separator />
									<c:forEach
										items="#{registrarTicketController.abrirTicketModel.categoria1}"
										var="cat1">
										<h:panelGrid columns="2" cellpadding="5">
											<p:graphicImage name="img/serv64.png" />

											<h:panelGrid columns="1" cellpadding="5">
												<p:commandLink
													actionListener="#{ registrarTicketController.listarCategoria2(cat1) }">
													<h:outputText value="#{cat1.descripcion}"
														style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
												</p:commandLink>

												<h:outputText value="#{cat1.descripcion}"
													style="font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
											</h:panelGrid>
										</h:panelGrid>

										<p:separator />
									</c:forEach>
								</h:panelGrid>

							</p:panel>
						</p:tab>

						<p:tab id="categoria2" title="#{i18n['reg_ticket.categoria2']}">
							<p:panel header="#{i18n['con_ticket.registrar.categoria2']}">

								<h:panelGrid columns="1" cellpadding="5" style="width:700px">
									<p:separator />
									<c:forEach
										items="#{registrarTicketController.abrirTicketModel.categoria2}"
										var="cat2">
										<h:panelGrid columns="2" cellpadding="5">
											<p:graphicImage name="img/serv64.png" />

											<h:panelGrid columns="1" cellpadding="5">
												<p:commandLink
													actionListener="#{registrarTicketController.listarCategoria3(cat2)}">
													<h:outputText value="#{cat2.descripcion}"
														style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
												</p:commandLink>

												<h:outputText value="#{cat2.descripcion}"
													style="font-size:20px;text-align:left;font-family:verdana, sans-serif" />
											</h:panelGrid>
										</h:panelGrid>

										<p:separator />
									</c:forEach>
								</h:panelGrid>

							</p:panel>
						</p:tab>

						<p:tab id="categoria3" title="#{i18n['reg_ticket.categoria3']}">
							<p:panel header="#{i18n['con_ticket.registrar.categoria3']}">

								<h:panelGrid columns="1" cellpadding="5" style="width:700px">
									<p:separator />
									<c:forEach
										items="#{registrarTicketController.abrirTicketModel.categoria3}"
										var="cat3">
										<h:panelGrid columns="2" cellpadding="5">
											<p:graphicImage name="img/serv64.png" />

											<h:panelGrid columns="1" cellpadding="5">
												<p:commandLink
													actionListener="#{registrarTicketController.listarServicios(cat3)}">
													<h:outputText value="#{cat3.descripcion}"
														style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
												</p:commandLink>

												<h:outputText value="#{cat3.descripcion}"
													style="font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
											</h:panelGrid>
										</h:panelGrid>

										<p:separator />
									</c:forEach>
								</h:panelGrid>

							</p:panel>
						</p:tab>

						<p:tab id="servicio" title="#{i18n['reg_ticket.servicio']}">
							<p:panel header="#{i18n['con_ticket.registrar.servicio']}">

								<h:panelGrid columns="1" cellpadding="5" style="width:700px">
									<p:separator />
									<c:forEach
										items="#{registrarTicketController.abrirTicketModel.servicio}"
										var="serv">
										<h:panelGrid columns="2" cellpadding="5">
											<p:graphicImage name="img/serv64.png" />

											<h:panelGrid columns="1" cellpadding="5">
												<p:commandLink oncomplete="PF('wgvFormularioTicket').show()"
													actionListener="#{principalUsuarioController.iniciarAgregarTicket(serv.idServicio)}"
													update=":frmPrincipal :frmRegistrarTicket">
													<h:outputText value="#{serv.nombreServicio}"
														style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
												</p:commandLink>

												<h:outputText value="#{serv.nombreServicio}"
													style="font-size:20px;text-align:left;font-family:verdana, sans-serif;" />
											</h:panelGrid>
										</h:panelGrid>

										<p:separator />
									</c:forEach>
								</h:panelGrid>

							</p:panel>
						</p:tab>
					</p:wizard>
				</center>
			</p:scrollPanel>

		</h:form>
	</p:dialog>
	<!-- NVEGACION PARA LA CREACION DE TICKET -->


	<!-- MODAL REGISTRAR TICKET RAPIDO -->
	<p:dialog id="ticketRapido" widgetVar="wgvFormularioTicketRapido"
		modal="true" appendTo="@(body)" resizable="false" closeOnEscape="true"
		position="center" hideEffect="clip" showEffect="clip"
		header="#{i18n['con_ticket.ticketRapido']}">

		<h:form id="frmRegistrarTicketRapido" style="width: 800px">
    	<p:messages showDetail="true"/>

			<p:scrollPanel mode="native" style="height: 500px">
				<br />
				<p:outputLabel value="#{i18n['con_ticket.ticketRapido']}"
					style="font-size: 30px; margin: 50px;" />

				<h:panelGrid columns="1"
					style="width:100%; margin-top:20px; text-align: left;">
					<p:outputLabel
						style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin-left:120px;"
						value="#{i18n['con_ticket.registrar.asunto']}" />

					<p:inputText id="txt_asunto_ticket" size="55" maxlength="50"
						style="font-size:16px;text-align:left;font-family:verdana, sans-serif;margin-left:120px;"
						value="#{principalUsuarioController.registrarTicketModel.ticketDTO.asuntoTicket}" />
				</h:panelGrid>

				<p:fieldset style="margin: 20px"
					legend="#{i18n['con_ticket.registrar.cabeceraCategoria']}">

					<p:panelGrid columns="3" cellpadding="5" layout="grid">

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;"
								value="#{i18n['reg_ticket.categoria1']}" />
							<p:selectOneMenu id="categoria1"
								value="#{principalUsuarioController.registrarTicketModel.categoria1Seleccionada}"
								effect="fold">
								<f:selectItem
									itemLabel="#{i18n['con_ticket.registrar.categoria1']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{principalUsuarioController.registrarTicketModel.listItemCategoria1}" />
								<p:ajax update="categoria2 categoria3 servicios"
									listener="#{principalUsuarioController.listarCategoria2Combo}" />
							</p:selectOneMenu>
						</h:panelGrid>

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;"
								value="#{i18n['reg_ticket.categoria2']}" />
							<p:selectOneMenu id="categoria2"
								value="#{principalUsuarioController.registrarTicketModel.categoria2Seleccionada}"
								effect="fold">
								<f:selectItem
									itemLabel="#{i18n['con_ticket.registrar.categoria2']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{principalUsuarioController.registrarTicketModel.listItemCategoria2}" />
								<p:ajax update="categoria3 servicios"
									listener="#{principalUsuarioController.listarCategoria3Combo}" />
							</p:selectOneMenu>
						</h:panelGrid>

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;"
								value="#{i18n['reg_ticket.categoria3']}" />
							<p:selectOneMenu id="categoria3"
								value="#{principalUsuarioController.registrarTicketModel.categoria3Seleccionada}"
								effect="fold">
								<f:selectItem
									itemLabel="#{i18n['con_ticket.registrar.categoria3']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{principalUsuarioController.registrarTicketModel.listItemCategoria3}" />
								<p:ajax update="servicios"
									listener="#{principalUsuarioController.listarServiciosCombo}" />
							</p:selectOneMenu>
						</h:panelGrid>

					</p:panelGrid>

					<p:panelGrid columns="2" cellpadding="5" layout="grid">

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin-left:75px;"
								value="#{i18n['reg_ticket.servicio']}" />
							<p:selectOneMenu id="servicios" style="margin-left:75px;"
								value="#{principalUsuarioController.registrarTicketModel.ticketDTO.idServicio}"
								effect="fold">
								<f:selectItem
									itemLabel="#{i18n['con_ticket.registrar.servicio']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{principalUsuarioController.registrarTicketModel.listItemServicio}" />
							</p:selectOneMenu>
						</h:panelGrid>

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;"
								value="Prioridad" />
							<p:selectOneMenu id="prioridad"
								value="#{principalUsuarioController.registrarTicketModel.ticketDTO.prioridadTicket}"
								effect="fold">
								<f:selectItem
									itemLabel="#{i18n['con_ticket.registrar.prioridad']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{principalUsuarioController.registrarTicketModel.listItemPrioridad}" />
							</p:selectOneMenu>
						</h:panelGrid>

					</p:panelGrid>
				</p:fieldset>

				<p:fieldset style="margin: 20px"
					legend="#{i18n['con_ticket.registrar.cabeceraCamposEspeciales']}">
					Campos especiales
				</p:fieldset>

				<p:fieldset style="margin: 20px"
					legend="#{i18n['con_ticket.registrar.detalles']}">
					<center>
						<p:editor id="editor" widgetVar="editor1" maxlength="500"
							value="#{principalUsuarioController.registrarTicketModel.ticketDTO.detalleTicket}"
							height="300" width="600" />
					</center>
				</p:fieldset>

				<p:fieldset style="margin:20px 20px 0px 20px"
					legend="#{i18n['con_ticket.registrar.archivoAdjunto']}">

					<p:fileUpload
						value="#{principalUsuarioController.registrarTicketModel.archivoTicket}"
						mode="advanced"
						multiple="true"
						
						label="#{i18n['con_ticket.registrar.archivoAdjunto']}"
						uploadLabel="#{i18n['tipoOperacion.cargar']}"
						cancelLabel="#{i18n['tipoOperacion.cancelar']}"
						
						allowTypes="/(\.|\/)(gif|jpe?g|png|bmp|docx?|pdf)$/"
						invalidFileMessage="#{i18n['con_ticket.registrar.error.archivoNoValido']}"
						sizeLimit="5242880"
						invalidSizeMessage="#{i18n['con_ticket.registrar.error.tamaņoNoValido']}"
						fileUploadListener="#{principalUsuarioController.registrarTicketModel.cargarArchivo}" />
				</p:fieldset>

				<p:outputLabel
					value="Extensiones de archivos permitidas: .jpg, .gif, .png, .doc, .docx, .pdf, .sql" />


				<div align="center" style="margin: 20px">
					<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
						actionListener="#{principalUsuarioController.agregarTicket}"
						update=":frmPrincipal" style="width:120px; height:40px" />
					<p:spacer width="80" />
					<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
						onclick="PF('wgvFormularioTicketRapido').hide()" inmediate="true"
						style="width:120px; height:40px" />
				</div>

			</p:scrollPanel>
		</h:form>
	</p:dialog>
	<!-- MODAL REGISTRAR TICKET RAPIDO -->


	<!-- MODAL DETALLE TICKET -->
	<p:dialog id="detalleTicker" widgetVar="wgvDetaleTicket" modal="true"
		appendTo="@(body)" resizable="false" closeOnEscape="true"
		position="center" hideEffect="clip" showEffect="clip"
		header="#{i18n['det_ticket.titulo']}">
		
		<h:form id="frmTabViewDetalle" style="width: 830px">
			<p:outputLabel value="#{i18n['det_ticket.titulo']}"
				style="font-size: 30px; margin: 50px;" />
			<p:spacer width="30px" />
			
			<p:tabView id="tvDetalleTicket" widgetVar="wgbDetalles" dynamic="true">
				<p:ajax event="tabChange"
					listener="#{detalleTicketController.obtenerMensajesTicket}"/>

				<p:tab id="tabDetalles" title="#{i18n['det_ticket.detalle']}">
					<h:panelGrid id="frmDetalles">
						<p:scrollPanel mode="native" style="height: 450px;">
							<p:panelGrid columns="1" style="width:100%;">

								<p:panelGrid columns="2" style="text-align: left; margin:10px;">
									<p:outputLabel
										style="font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.codigo']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.codigoTicket}" />

									<p:outputLabel
										style="font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.asunto']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:20px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.asuntoTicket}" />
								</p:panelGrid>

								<p:panelGrid columns="1" style="text-align: left; width:100%;">
									<p:outputLabel
										style="font-size:20px;text-align:left;font-family:verdana, sans-serif;"
										value="#{i18n['det_ticket.descripcion']}" />

									<p:outputPanel
										style="width:100%; height:150px; border:1px solid #666666;">
										<p:scrollPanel mode="native"
											style="width:708px; height:148px;">
											<p:outputLabel
												style="width:100%; font-size:15px; text-align:left; font-family:verdana;"
												escape="false"
												value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.detalleTicket}" />
										</p:scrollPanel>
									</p:outputPanel>
								</p:panelGrid>

								<p:panelGrid columns="2" style="text-align: left; margin:8px;">
									<p:outputLabel
										style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.servicio']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:13px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										escape="false"
										value="#{detalleTicketController.cadenaCategorias()}" />

									<p:outputLabel
										style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.fechacreacion']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{principalUsuarioController.principalListarModel.formatoFecha(detalleTicketController.detalleTicketModel.ticketSeleccionado.fechaTicket)}" />

									<p:outputLabel
										style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:15px;"
										value="#{i18n['det_ticket.estado']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:15px;text-align:left;font-family:verdana, sans-serif;margin:20px;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.estadoTicket}" />
								</p:panelGrid>

								<p:panelGrid columns="2" style="text-align:rigth;margin-left:550px">
									<p:outputLabel
										style="font-size:15px;font-family:verdana, sans-serif;"
										value="#{i18n['det_ticket.prioridad']}" />
									<p:outputLabel
										style="font-weight:bold;font-size:15px;font-family:verdana, sans-serif;"
										value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.prioridadTicket}" />
								</p:panelGrid>

							</p:panelGrid>
							
							<p:dataTable id="tablaArchivosTicket" var="archivo"
								value="#{detalleTicketController.detalleTicketModel.ticketSeleccionado.listaArchivosTicket}"
								emptyMessage="#{i18n['con_ticket.tabla.error.noArchivos']}"
								paginator="true" rows="5" paginatorPosition="bottom"
								currentPageReportTemplate="{currentPage} de {totalPages}"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
								<f:facet name="header">
										#{i18n['con_ticket.tabla.archivos']}
									</f:facet>

								<p:column headerText="#{i18n['con_ticket.tabla.nombre']}">
										<h:outputText value="#{archivo.nombreArchivo}" />
								</p:column>

								<p:column style="width:100px; text-align:center"
									headerText="#{i18n['con_ticket.tabla.descarga']}">
									<p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false"
										title="#{i18n['con_ticket.tabla.descarga']}" onclick="PrimeFaces.monitorDownload(start, stop);"
										actionListener="#{detalleTicketController.detalleTicketModel.descargarArchivo(archivo)}">
										<p:fileDownload
											value="#{detalleTicketController.detalleTicketModel.archivoDescargar}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
							
							
						</p:scrollPanel>
					</h:panelGrid>

				</p:tab>

				<p:tab id="tabMensajes" title="#{i18n['det_ticket.mensajes']}">
					<h:panelGrid>
						<p:scrollPanel mode="native" style="height: 450px;">
							<p:fieldset
								legend="Historial del ticket: #{detalleTicketController.detalleTicketModel.ticketSeleccionado.codigoTicket}">
								<p:scrollPanel mode="native" style="height: 300px;">

									<h:panelGrid columns="1" style="width:100%; height:100%">
										<p:separator />
										<c:forEach
											items="#{detalleTicketController.detalleTicketModel.listaMensajesTicket}"
											var="mensaje">
											<h:panelGrid columns="1">

												<h:panelGrid columns="2">
													<h:outputText value="#{mensaje.decNombreUsuario}"
														style="font-weight:bold;font-size:14px;text-align:left;font-family:verdana, sans-serif;" />

													<h:outputText value="Fecha: #{detalleTicketController.detalleTicketModel.formatoFecha(mensaje.fechaMensaje)}"
														style="font-weight:bold;font-size:14px;text-align:left;font-family:verdana, sans-serif;" />
												</h:panelGrid>
												
												<p:outputLabel
													style="font-size:12px;text-align:left;font-family:verdana, sans-serif;"
													escape="false" value="#{mensaje.mensaje}" />
													
												<h:panelGrid columns="1">
													<c:forEach items="#{mensaje.listaArchivosMensaje}"
														var="archivo">
														
														<h:panelGrid columns="2">
															<p:graphicImage name="img/picture.png" width="100%"
																height="100%" />

															<p:commandLink ajax="false"
																actionListener="#{detalleTicketController.detalleTicketModel.descargarArchivo(archivo)}">
																<h:outputText value="#{archivo.nombreArchivo}" />
																<p:fileDownload
																	value="#{detalleTicketController.detalleTicketModel.archivoDescargar}" />
															</p:commandLink>
														</h:panelGrid>
														
													</c:forEach>
												</h:panelGrid>
												
											</h:panelGrid>

											<p:separator />
										</c:forEach>
									</h:panelGrid>

								</p:scrollPanel>
							</p:fieldset>

							<p:fieldset style="margin: 20px" legend="Respuesta">
								<center>
									<p:editor id="editorDetalle" widgetVar="editor2" maxlength="500"
										value="#{detalleTicketController.detalleTicketModel.mensajeDTO.mensaje}"
										height="150" width="650" />

									<p:spacer height="20px" />

									<p:fileUpload
										value="#{detalleTicketController.detalleTicketModel.archivoMensaje}"
										mode="advanced" multiple="true"
										label="#{i18n['con_ticket.registrar.archivoAdjunto']}"
										uploadLabel="#{i18n['tipoOperacion.cargar']}"
										cancelLabel="#{i18n['tipoOperacion.cancelar']}"
										allowTypes="/(\.|\/)(gif|jpe?g|png|bmp|docx?|pdf)$/"
										invalidFileMessage="#{i18n['con_ticket.registrar.error.archivoNoValido']}"
										sizeLimit="5242880"
										invalidSizeMessage="#{i18n['con_ticket.registrar.error.tamaņoNoValido']}"
										fileUploadListener="#{detalleTicketController.detalleTicketModel.cargarArchivo}" />
									<p:outputLabel
										value="Extensiones de archivos permitidas: .jpg, .gif, .png, .doc, .docx, .pdf, .sql" />
								</center>

								<p:commandButton value="Enviar"
									actionListener="#{detalleTicketController.registrarMensaje}"
									style="margin:20px; width:120px; height:50px;" />
							</p:fieldset>
						</p:scrollPanel>
					</h:panelGrid>
				</p:tab>
			
			</p:tabView>
		</h:form>
	</p:dialog>
	<!-- MODAL DETALLE TICKET -->


	<!-- MODAL REGISTRAR -->
	<p:dialog id="abrirTicket" widgetVar="wgvFormularioTicket" modal="true"
		appendTo="@(body)" resizable="false" closeOnEscape="true"
		position="center" hideEffect="clip" showEffect="clip"
		header="#{i18n['con_ticket.agregarTicket']}">

		<h:form id="frmRegistrarTicket" style="width: 800px">
    	<p:messages showDetail="true"/>
    	
				<br />
				<p:outputLabel value="#{i18n['con_ticket.agregarTicket']}"
					style="font-size: 30px; margin: 50px;" />
			<p:scrollPanel mode="native" style="height: 500px">
				<h:panelGrid columns="1"
					style="width:100%; margin-top:20px; text-align: left;">
					<p:outputLabel
						style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin-left:120px;"
						value="#{i18n['con_ticket.registrar.asunto']}" />

					<p:inputText id="txt_asunto_ticket" size="55" maxlength="50"
						style="font-size:16px;text-align:left;font-family:verdana, sans-serif;margin-left:120px;"
						value="#{principalUsuarioController.registrarTicketModel.ticketDTO.asuntoTicket}" />
				</h:panelGrid>

				<p:fieldset style="margin: 20px"
					legend="#{i18n['con_ticket.registrar.cabeceraCategoria']}">

					<h:panelGrid columns="2" style="width:100%; text-align: left;">

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;margin-left:120px;"
								value="#{i18n['con_ticket.registrar.servicio']}" />

							<p:outputLabel
								style="font-size:16px;text-align:left;font-family:verdana, sans-serif;margin-left:120px;"
								value="> #{principalUsuarioController.registrarTicketModel.ticketDTO.descNomServico}" />
						</h:panelGrid>

						<h:panelGrid columns="1" style="text-align: left;">
							<p:outputLabel
								style="font-size:15px;text-align:left;font-family:verdana, sans-serif;"
								value="Prioridad" />
							<p:selectOneMenu id="prioridad"
								value="#{principalUsuarioController.registrarTicketModel.ticketDTO.prioridadTicket}"
								effect="fold">
								<f:selectItem
									itemLabel="#{i18n['con_ticket.registrar.prioridad']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{principalUsuarioController.registrarTicketModel.listItemPrioridad}" />
							</p:selectOneMenu>
						</h:panelGrid>

					</h:panelGrid>


				</p:fieldset>

				<p:fieldset style="margin: 20px"
					legend="#{i18n['con_ticket.registrar.cabeceraCamposEspeciales']}">
					Campos especiales
				</p:fieldset>

				<p:fieldset style="margin: 20px"
					legend="#{i18n['con_ticket.registrar.detalles']}">
					<center>
						<p:editor id="editor" widgetVar="editor1" maxlength="500"
							value="#{principalUsuarioController.registrarTicketModel.ticketDTO.detalleTicket}"
							height="300" width="600" />
					</center>
				</p:fieldset>

				<p:fieldset style="margin:20px 20px 0px 20px"
					legend="#{i18n['con_ticket.registrar.archivoAdjunto']}">

					<p:fileUpload
						value="#{principalUsuarioController.registrarTicketModel.archivoTicket}"
						mode="advanced"
						multiple="true"
						
						label="#{i18n['con_ticket.registrar.archivoAdjunto']}"
						uploadLabel="#{i18n['tipoOperacion.cargar']}"
						cancelLabel="#{i18n['tipoOperacion.cancelar']}"
						
						allowTypes="/(\.|\/)(gif|jpe?g|png|bmp|docx?|pdf)$/"
						invalidFileMessage="#{i18n['con_ticket.registrar.error.archivoNoValido']}"
						sizeLimit="5242880"
						invalidSizeMessage="#{i18n['con_ticket.registrar.error.tamaņoNoValido']}"
						fileUploadListener="#{principalUsuarioController.registrarTicketModel.cargarArchivo}" />
				</p:fieldset>

				<p:outputLabel
					value="Extensiones de archivos permitidas: .jpg, .gif, .png, .doc, .docx, .pdf, .sql" />


				<div align="center" style="margin: 20px">
					<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
						actionListener="#{principalUsuarioController.agregarTicket}"
						update=":frmPrincipal" style="width:120px; height:40px" />
					<p:spacer width="80" />
					<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
						onclick="PF('wgvFormularioTicketRapido').hide()" inmediate="true"
						style="width:120px; height:40px" />
				</div>

			</p:scrollPanel>
		</h:form>
		
	</p:dialog>
	<!-- MODAL REGISTRAR -->


</h:body>
</html>