<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</h:head>

<h:body>
	<h:form id="frmFiltro">
		<p:growl autoUpdate="true" />

		<p:accordionPanel id="accordionFiltro" style="width:100%;">
			<p:tab title="#{i18n['man_ticketFavorito.titulo']}">
				<p:outputPanel>
					<h:panelGrid columns="2">
						<c:forEach var="fav"
							items="#{principalUsuarioController.ticketFavoritoModel.listFavoritos}">

							<p:graphicImage name="img/serv64.png" width="100%" height="100%" />
							
							<p:commandLink oncomplete="PF('wgvFormularioTicket').show()"
								actionListener="#{principalUsuarioController.iniciarAgregarTicket(fav.idServicio)}"
								update=":frmPrincipal :frmRegistrarTicket">
								<h:outputText value="#{fav.descNomServico}" />
							</p:commandLink>

						</c:forEach>
					</h:panelGrid>
				</p:outputPanel>
			</p:tab>

			<p:tab title="#{i18n['con_ticket.ver']}">
				<h:panelGrid columns="2" style="width:100%;">
					<p:outputPanel>
						<h:panelGrid columns="2" cellpadding="5">

							<h:outputText styleClass="numeroEstado"
								value="#{principalUsuarioController.cantidadTicketEstado(0)}" />
							<p:commandLink
								actionListener="#{principalUsuarioController.filtrarLista(0)}">
								<h:outputText styleClass="backgroundTodos" value="Todos" />
							</p:commandLink>

							<h:outputText styleClass="numeroEstado"
								value="#{principalUsuarioController.cantidadTicketEstado(1)}" />
							<p:commandLink
								actionListener="#{principalUsuarioController.filtrarLista(1)}">
								<h:outputText styleClass="backgroundRegistrado"
									value="Registrado" />
							</p:commandLink>

							<h:outputText styleClass="numeroEstado"
								value="#{principalUsuarioController.cantidadTicketEstado(2)}" />
							<p:commandLink
								actionListener="#{principalUsuarioController.filtrarLista(2)}">
								<h:outputText styleClass="backgroundEnCurso" value="En curso" />
							</p:commandLink>

							<h:outputText styleClass="numeroEstado"
								value="#{principalUsuarioController.cantidadTicketEstado(3)}" />
							<p:commandLink
								actionListener="#{principalUsuarioController.filtrarLista(3)}">
								<h:outputText styleClass="backgroundEnEspera" value="En Espera" />
							</p:commandLink>

							<h:outputText styleClass="numeroEstado"
								value="#{principalUsuarioController.cantidadTicketEstado(4)}" />
							<p:commandLink
								actionListener="#{principalUsuarioController.filtrarLista(4)}">
								<h:outputText styleClass="backgroundFinalizado"
									value="Finalizado" />
							</p:commandLink>
						</h:panelGrid>
					</p:outputPanel>
				</h:panelGrid>
			</p:tab>
		</p:accordionPanel>
		
	</h:form>
</h:body>
</html>