<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Insert title here</title>
</h:head>

<h:body>
	<p:panelGrid columns="2">
		<h:outputText value="Usuario: #{principalController.username}" />

		<form action="#{request.contextPath}/j_spring_security_logout">
			<input type="submit" value="Cerrar Sesion" />
		</form>
	</p:panelGrid>
	<p:graphicImage id="nature" name="img/encabezado.jpg" width="100%"
		height="100%" />
</h:body>
</html>