<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body> 

        <ui:composition template="../principal.xhtml">

            <ui:define name="content" >     
                      
				<h:form id="frm" style="text-align:left;" enctype="multipart/form-data">
				    <p:growl id="messages" showDetail="true" life="1500"/>
				 
				    <p:tree id="docs" value="#{categoriaController.root}" animate="true" var="node" selection="#{categoriaController.selectedNode}" selectionMode="single" dynamic="true">                    
						<p:treeNode  type="categoria" icon="ui-icon-mail-open">
				            <h:outputText value="#{node.descripcion}"/>
				        </p:treeNode>	                    	
				        <p:treeNode type="servicio"  icon="ui-icon-person" >
				            <h:outputText value="#{node.descripcion}" />
				        </p:treeNode>	 
				        <p:treeNode type="deshabilitado"  icon="ui-icon-alert" >
				            <h:outputText style="background-color:#FF8000;" value="#{node.descripcion}" />
				        </p:treeNode>	
				        <p:treeNode type="eliminado" rendered="false" >
				        </p:treeNode>				        			                           			        
				    </p:tree>

				    <p:contextMenu for="docs" nodeType="categoria">				    	
				        <p:menuitem value="Crear" update="messages, :frmCrearCategoria" actionListener="#{categoriaController.iniciarCrearCategoria()}"   oncomplete="PF('dlg').show()" icon="fa fa-plus">
	<!-- 			       	 <p:resetInput target=":frm dlgCrear" /> -->
				        </p:menuitem>
				        <p:menuitem value="Editar" update="messages, :frmCrearCategoria" actionListener="#{categoriaController.iniciarEditarCategoria()}" oncomplete="PF('dlg').show()" icon="fa fa-fw fa-edit" />
<!-- 				        <p:menuitem value="Deshabilitar" update="docs, messages" actionListener="#{categoriaController.deleteNode}" icon="fa fa-ban"/> -->
				    </p:contextMenu>					 
				    <p:contextMenu  for="docs" nodeType="servicio">				    	
				        <p:menuitem value="Editar" update="messages, :frmCrearCategoria" actionListener="#{categoriaController.iniciarEditarCategoria()}"  oncomplete="PF('dlg').show()" icon="fa fa-fw fa-edit" />
				        <p:menuitem value="Deshabilitar" update="docs, messages" actionListener="#{categoriaController.deshabilitarCategoria()}" icon="fa fa-ban"/>
				    </p:contextMenu>  
				    <p:contextMenu  for="docs" nodeType="deshabilitado">				    	
				        <p:menuitem value="Habilitar" update="docs, messages" actionListener="#{categoriaController.habilitarCategoria()}"   icon="fa fa-check" />	
				        <p:menuitem value="Eliminar" update="docs, messages" actionListener="#{categoriaController.eliminarCategoria()}"   icon="fa fa-times">				       		
				        	<p:confirm/>
				        </p:menuitem>			     
				    </p:contextMenu>  		

				    <p:confirmDialog  id="eliminar" header="Confirmación eliminar" message="¿Estás seguro que deseas eliminar la categoria?" global="true" showEffect="fade" hideEffect="fade">
				       <center>
					        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				       </center>
				    </p:confirmDialog>					    			    		      				    			    
			</h:form>	
			
			<h:form id="frmCrearCategoria">            
			
			    <p:growl id="growl" sticky="true" showDetail="true" life="1000" />
			 
			    <p:dialog header="#{categoriaController.modo} categoría" widgetVar="dlg" resizable="false" draggable="false" modal="true">
			        <h:panelGrid   id="grid" columns="2" cellpadding="5">
				        <f:facet name="header">
				            <p:messages id="msgs" />
				        </f:facet>			        
			        	<h:panelGrid columns="2" >
				            <p:outputLabel for="nombre" value="Nombre:" />
				            <p:inputText id="nombre"  value="#{categoriaController.categoria.descripcion}" label="nombre" size="40" maxlength="50" required="true"  requiredMessage="Debe escribir una descripcion" />					            	
				            <p:outputLabel  value="Imagen:" />		
							<p:fileUpload id="uploadImagen" value="#{categoriaController.file}" auto="true" mode="advanced" update="image" label="Seleccionar un archivo" sizeLimit="65536"
								fileUploadListener="#{categoriaController.fileUploadListener}" allowTypes="/(\.|\/)(jpe?g|png)$/" invalidFileMessage="Tipo de archivo inválido" invalidSizeMessage="Ha sobrepasado el tamaño maximo (64KB)">
							</p:fileUpload>       	
			        	
			        	</h:panelGrid>
						<p:graphicImage id="image" value="#{categoriaController.image}" height="150px" width="150px" cache="false" immediate="true" ajax="false"  />	             
			        </h:panelGrid>
			 	 
			         <center>
			             <p:commandButton value="#{categoriaController.modo}" process="@this,nombre" update=":frm:messages, msgs, nombre, :frm:docs" actionListener="#{categoriaController.procesarCategoria}">
			             <p:resetInput target="nombre" />
			             </p:commandButton>
							<br />
					</center> 
        
			    </p:dialog>			    
			</h:form>  						     
            </ui:define>
         
        </ui:composition>

    </body>

</html>