<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../principal.xhtml">

	<ui:define name="content">
		<p:tabView id="tabGestionUsuGpAtencion">
			<p:tab title="Usuarios">
				<h:form id="frmGestionUsuario">
					<h1>#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.titulo']}</h1>
					<p:growl id="messages" showDetail="true" />
					<div align="left">
						<p:commandButton id="btnAgregarUsuario"
							value="#{i18n['tipoOperacion.agregar']}"
							actionListener="#{gestionUsuariosController.iniciarFormularioAgregarUsuario}"
							oncomplete="PF('wgvFormularioUsuario').show()"
							update=":tabGestionUsuGpAtencion:formRegistrarUsuario:panAg :tabGestionUsuGpAtencion:dlAgregarUsuario "
							icon="fa fa-plus-circle" styleClass="btn-nuevo">
						</p:commandButton>
						<p:commandButton value="#{i18n['tipoOperacion.exportar']}"
							icon="fa fa-file-excel-o">
						</p:commandButton>
					</div>
					<br />
					<p:dataTable id="tblMantenerUsuario" var="usuario"
						widgetVar="wgvTablaMantenerUsuario"
						value="#{gestionUsuariosController.usuarioModel.listaUsuarios}"
						rows="5"
						filteredValue="#{gestionUsuariosController.usuarioModel.listaUsuariosFiltrados}"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" rowIndexVar="index"
						emptyMessage="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.error.noSeEncontro']}">
						<p:ajax event="sort" skipChildren="false" />
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.id']}"
							style="text-align:center;width:5%">
							<p:outputLabel value="#{index+1}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.username']}"
							style="text-align:center;width:15%;" sortBy="#{usuario.username}">
							<h:outputText value="#{usuario.username}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.nombre']}"
							style="text-align:center;width:7%;" sortBy="#{usuario.nombre}">
							<h:outputText value="#{usuario.nombre}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.apellidos']}"
							style="text-align:center; width:7%;"
							sortBy="#{usuario.apellidos}">
							<h:outputText value="#{usuario.apellidos}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.rol']}"
							style="text-align:center;width:7%;"
							sortBy="#{usuario.desRolUsuario}">
							<h:outputText value="#{usuario.desRolUsuario}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.correo']}"
							style="text-align:center;width:7%;" sortBy="#{usuario.correo}">
							<h:outputText value="#{usuario.correo}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.telefono']}"
							style="text-align:center;width:7%;" sortBy="#{usuario.telefono}">
							<h:outputText value="#{usuario.telefono}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.tabla.estado']}"
							style="text-align:center;width:7%;">
							<h:outputText value="#{usuario.desEstadoServicio}" />
						</p:column>
						<p:column style="width:50px;text-align: center">
							<p:commandButton icon="fa fa-toggle-on"
								update="tblMantenerUsuario "
								actionListener="#{gestionUsuariosController.deshabilitarUsuario(usuario)}">
							</p:commandButton>
						</p:column>
						<p:column style="width:50px;text-align: center">
							<p:commandButton icon="ui-icon-pencil"
								oncomplete="PF('wgvFormularioUsuario').show()"
								update=":tabGestionUsuGpAtencion:formRegistrarUsuario:panAg :tabGestionUsuGpAtencion:dlAgregarUsuario"
								actionListener="#{gestionUsuariosController.iniciarFormularioModificarUsuario(usuario)}">
							</p:commandButton>
						</p:column>
						<p:column style="width:50px;text-align: center">
							<p:commandButton icon="ui-icon-trash"
								oncomplete="PF('dgEliminarUsuario').show()"
								actionListener="#{gestionUsuariosController.iniciarFormularioEliminarUsuario(usuario)}">
							</p:commandButton>
						</p:column>
					</p:dataTable>

				</h:form>


				<p:dialog id="dlAgregarUsuario" widgetVar="wgvFormularioUsuario"
					modal="true" appendTo="@(body)" resizable="false"
					closeOnEscape="true" position="center" hideEffect="clip"
					showEffect="clip" closable="false"
					header="#{gestionUsuariosController.usuarioFormularioModel.obtenerTituloOperacion()}">

					<h:form id="formRegistrarUsuario">
						<p:panel id="panAg">
							<p:panelGrid columns="2">
								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.formulario.username']}"
									for="itUsernameUsuario" />
								<p:inputText id="itUsernameUsuario" required="true" size="40"
									maxlength="50" requiredMessage="Debe escribir el ussername"
									value="#{gestionUsuariosController.usuarioFormularioModel.usuarioFormulario.username}">
									<pe:keyFilter mask="alphanum"/>
								</p:inputText>
								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.formulario.nombre']}"
									for="itNombreUsuario" />
								<p:inputText id="itNombreUsuario" required="true" size="40"
									maxlength="50" requiredMessage="Debe escribir el nombre"
									value="#{gestionUsuariosController.usuarioFormularioModel.usuarioFormulario.nombre}">
									<pe:keyFilter regEx="/^[a-zA-Z\s]*$/"/>
								</p:inputText>

								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.formulario.apellidos']}"
									for="soApellidosUsuario" />
								<p:inputText id="soApellidosUsuario" required="true" size="40"
									maxlength="50" requiredMessage="Debe escribir los apellidos"
									value="#{gestionUsuariosController.usuarioFormularioModel.usuarioFormulario.apellidos}">
									<pe:keyFilter regEx="/^[a-zA-Z\s]*$/"/>
								</p:inputText>

								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.formulario.rol']}"
									for="soRolUsuario" />
								<p:selectOneMenu id="soRolUsuario" required="true"
									requiredMessage="Seleccione un rol"
									value="#{gestionUsuariosController.usuarioFormularioModel.usuarioFormulario.ctRol}"
									style="width:125px">
									<f:selectItem itemLabel="Seleccione Rol..." itemValue="#{null}" />
									<f:selectItems
										value="#{gestionUsuariosController.usuarioFormularioModel.listaRolesUsuarios}"
										var="rol" itemLabel="#{rol.descripcion}"
										itemValue="#{rol.idSec}" />
								</p:selectOneMenu>

								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.formulario.correo']}"
									for="itCorreoUsuario" />
								<p:inputText id="itCorreoUsuario" required="true" size="40"
									requiredMessage="Debe escribir un correo"  validatorMessage="Correo no es valido"
									value="#{gestionUsuariosController.usuarioFormularioModel.usuarioFormulario.correo}">
									<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
								</p:inputText>
								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.formulario.telefono']}"
									for="itTelefonoUsuario" />
								<p:inputMask id="itTelefonoUsuario" required="true" mask="999 999 999" requiredMessage="Debe escribir el telefono"
									value="#{gestionUsuariosController.usuarioFormularioModel.usuarioFormulario.telefono}">
								</p:inputMask>

							</p:panelGrid>
							<br />
							<center>
								<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
									process="@all"
									actionListener="#{gestionUsuariosController.ejecutarUsuarioTipoOperacion}"
									update=":tabGestionUsuGpAtencion:frmGestionUsuario:tblMantenerUsuario, :tabGestionUsuGpAtencion:frmGestionUsuario:messages">
								</p:commandButton>
								<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
									process="@this" oncomplete="PF('wgvFormularioUsuario').hide()"
									actionListener="#{gestionUsuariosController.usuarioFormularioModel.inicializarUsuarioFormulario}"
									update=":tabGestionUsuGpAtencion:formRegistrarUsuario">
									<p:resetInput target="panAg" />
								</p:commandButton>
								<br />
							</center>
						</p:panel>
					</h:form>
				</p:dialog>


				<p:dialog widgetVar="dgEliminarUsuario" modal="true"
					appendTo="@(body)" resizable="false" closeOnEscape="true"
					position="center" closable="false" hideEffect="clip"
					showEffect="clip"
					header="#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.confirmacion.titulo']}">
					<h:form>
						<center>
							<p:panel>
								<br />
					#{i18n['conf_gestionUsuarioGrupoAtencion.usuario.confirmacion.mensaje']}
					<br />
								<br />
								<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
									actionListener="#{gestionUsuariosController.eliminarUsuario}"
									update=":tabGestionUsuGpAtencion:frmGestionUsuario:tblMantenerUsuario " />
							&nbsp;&nbsp;&nbsp;&nbsp;
						<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
									onclick="PF('dgEliminarUsuario').hide();" icon="ui-icon-close"
									styleClass="ui-confirmdialog-no" />
							</p:panel>
						</center>
					</h:form>
				</p:dialog>
			</p:tab>





			<p:tab title="Grupos de Atención">
				<h:form id="frmGestionGruposAtencion">
					<h1>#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.titulo']}</h1>
					<p:growl id="messages" showDetail="true" />
					<div align="left">
						<p:commandButton id="btnAgregarGrupAtencion"
							value="#{i18n['tipoOperacion.agregar']}"
							actionListener="#{gestionUsuariosController.iniciarFormularioAgregarGrupoAtencion}"
							oncomplete="PF('wgvFormularioGrupAtencion').show()"
							update=":tabGestionUsuGpAtencion:formRegistrarGrupAtencion:panAg :tabGestionUsuGpAtencion:dlAgregarGrupAtencion"
							icon="fa fa-plus-circle" styleClass="btn-nuevo">
						</p:commandButton>
						<p:commandButton value="#{i18n['tipoOperacion.exportar']}"
							icon="fa fa-file-excel-o">
						</p:commandButton>
					</div>
					<br />
					<p:dataTable id="tblGrupAtencion" var="grupoAtencion"
						widgetVar="wgvTablaGrupAtencion"
						value="#{gestionUsuariosController.grupoAtencionModel.listaGrupoAtencion}"
						rows="5"
						filteredValue="#{gestionUsuariosController.grupoAtencionModel.listaGrupoAtencionFiltrados}"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" rowIndexVar="index"
						emptyMessage="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.error.noSeEncontro']}">
						<p:ajax event="sort" skipChildren="false" />
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.tabla.id']}"
							style="text-align:center;width:5%">
							<p:outputLabel value="#{index+1}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.tabla.codigo']}"
							filterBy="#{grupoAtencion.codigo}"
							style="text-align:center;width:15%;" filterMatchMode="contains"
							sortBy="#{grupoAtencion.codigo}">
							<h:outputText value="#{grupoAtencion.codigo}" />
						</p:column>
						<p:column
							headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.tabla.titulo']}"
							filterBy="#{grupoAtencion.titulo}"
							style="text-align:center;width:40%;" filterMatchMode="contains"
							sortBy="#{grupoAtencion.titulo}">
							<h:outputText value="#{grupoAtencion.titulo}" />
						</p:column>
						<p:column style="width:50px;text-align: center">
							<p:commandButton icon="fa fa-user-plus"
								oncomplete="PF('wgvFormularioAgrUsrGrupAtencion').show()"
								update=":tabGestionUsuGpAtencion:formAgregarUsuarioGrupAtencion:panAgUserGP :tabGestionUsuGpAtencion:formAgregarUsuarioGrupAtencion"
								actionListener="#{gestionUsuariosController.iniciarFormularioAgregarUsuarioAGrupoAtencion(grupoAtencion)}">
							</p:commandButton>
						</p:column>
						<p:column style="width:50px;text-align: center">
							<p:commandButton icon="ui-icon-pencil"
								oncomplete="PF('wgvFormularioGrupAtencion').show()"
								update=":tabGestionUsuGpAtencion:formRegistrarGrupAtencion:panAg :tabGestionUsuGpAtencion:dlAgregarGrupAtencion"
								actionListener="#{gestionUsuariosController.iniciarFormularioModificarGrupoAtencion(grupoAtencion)}">
							</p:commandButton>
						</p:column>
						<p:column style="width:50px;text-align: center">
							<p:commandButton icon="ui-icon-trash"
								oncomplete="PF('dgEliminarGrupAtencion').show()"
								actionListener="#{gestionUsuariosController.iniciarFormularioEliminarGrupoAtencion(grupoAtencion)}">
							</p:commandButton>
						</p:column>
					</p:dataTable>

				</h:form>


				<p:dialog id="dlAgregarGrupAtencion"
					widgetVar="wgvFormularioGrupAtencion" modal="true"
					appendTo="@(body)" resizable="false" closeOnEscape="true"
					position="center" hideEffect="clip" showEffect="clip"
					closable="false"
					header="#{gestionUsuariosController.grupoAtencionFormularioModel.obtenerTituloOperacion()}">

					<h:form id="formRegistrarGrupAtencion">
						<p:panel id="panAg">
							<p:panelGrid columns="2">
								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.formulario.codigo']}"
									for="itCodigoGrupoAtencion" />
								<p:outputLabel id="itCodigoGrupoAtencion"
									value="#{gestionUsuariosController.grupoAtencionFormularioModel.grupoFormulario.codigo}" />
								<p:outputLabel
									value="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.formulario.titulo']}"
									for="itDesGrupoAtencion" />
								<p:inputText id="itDesGrupoAtencion" required="true" size="40"
									maxlength="50" requiredMessage="Debe escribir una descripcion"
									value="#{gestionUsuariosController.grupoAtencionFormularioModel.grupoFormulario.titulo}">
<!-- 									<pe:keyFilter regEx="/^[a-zA-Z\s]*$/"/> -->
								</p:inputText>

							</p:panelGrid>
							<br />
							<center>
								<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
									process="@all"
									actionListener="#{gestionUsuariosController.ejecutarGrupoAtencionTipoOperacion}"
									update=":tabGestionUsuGpAtencion:frmGestionGruposAtencion:tblGrupAtencion, :tabGestionUsuGpAtencion:frmGestionGruposAtencion:messages">
								</p:commandButton>
								<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
									process="@this"
									oncomplete="PF('wgvFormularioGrupAtencion').hide()"
									actionListener="#{gestionUsuariosController.grupoAtencionFormularioModel.inicializarGrupoAtencionFormulario}"
									update=":tabGestionUsuGpAtencion:formRegistrarGrupAtencion">
									<p:resetInput target="panAg" />
								</p:commandButton>
								<br />
							</center>
						</p:panel>
					</h:form>
				</p:dialog>


				<p:dialog widgetVar="dgEliminarGrupAtencion" modal="true"
					appendTo="@(body)" resizable="false" closeOnEscape="true"
					position="center" closable="false" hideEffect="clip"
					showEffect="clip"
					header="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.confirmacion.titulo']}">
					<h:form>
						<center>
							<p:panel>
								<br />
					#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.confirmacion.mensaje']}
					<br />
								<br />
								<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
									actionListener="#{gestionUsuariosController.eliminarGrupoAtencion}"
									update=":tabGestionUsuGpAtencion:frmGestionGruposAtencion:tblGrupAtencion " />
							&nbsp;&nbsp;&nbsp;&nbsp;
						<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
									onclick="PF('dgEliminarGrupAtencion').hide();"
									icon="ui-icon-close" styleClass="ui-confirmdialog-no" />
							</p:panel>
						</center>
					</h:form>
				</p:dialog>
				<p:dialog id="dlAgregarUsuarioGrupAtencion"
					widgetVar="wgvFormularioAgrUsrGrupAtencion" modal="true"
					appendTo="@(body)" resizable="false" closeOnEscape="true"
					position="center" hideEffect="clip" showEffect="clip"
					closable="false"
					header="#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.formulario.asignacion.titulo']}">

					<h:form id="formAgregarUsuarioGrupAtencion">
						<p:panel id="panAgUserGP">
							<p:pickList id="pickListaTrabajadores"
								value="#{gestionUsuariosController.grupoAtencionFormularioModel.dualModelListaTrabajadores}"
								var="trabajador" itemLabel="#{trabajador.descDatosTrabajador}"
								converter="trabajadorPickListConverter"
								itemValue="#{trabajador}" showSourceFilter="true"
								showTargetFilter="true" filterMatchMode="contains"
								effect="bounce">
								<f:facet name="sourceCaption">#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.formulario.asignacion.cabecera.noAsignados']}</f:facet>
								<f:facet name="targetCaption">#{i18n['conf_gestionUsuarioGrupoAtencion.grupatencion.formulario.asignacion.cabecera.Asignados']}</f:facet>
							</p:pickList>
							<center>
								<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
									actionListener="#{gestionUsuariosController.agregarUsuarioAGrupoAtencion}"
									update=":tabGestionUsuGpAtencion:frmGestionGruposAtencion:tblGrupAtencion">
								</p:commandButton>
								<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
									process="@this"
									oncomplete="PF('wgvFormularioAgrUsrGrupAtencion').hide()"
									actionListener="#{gestionUsuariosController.grupoAtencionFormularioModel.inicializarAgregarUsuarioGrupAtencion}"
									update=":tabGestionUsuGpAtencion:formAgregarUsuarioGrupAtencion">
									<p:resetInput target="panAgUserGP" />
								</p:commandButton>
								<br />
							</center>
						</p:panel>
					</h:form>
				</p:dialog>

			</p:tab>
		</p:tabView>


	</ui:define>

</ui:composition>

