<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<body>

	<ui:composition template="../principal.xhtml">
		<ui:define name="content">
			<h:form id="frmGestionPlantillas">
				<h1>#{i18n['conf_gestionPlantillaServicio.titulo']}</h1>
				<p:growl id="messages" showDetail="true" />
				<div align="center">
					<p:selectOneMenu id="soServicio"
						requiredMessage="Seleccione un servicio"
						value="#{gestionPlantillasServicioController.plantillaModel.servicioSeleccionado.idServicio}"
						style="width:125px">
						<f:selectItem itemLabel="Seleccione Servicio..."
							itemValue="#{null}" />
						<f:selectItems
							value="#{gestionPlantillasServicioController.plantillaModel.listaServicios}"
							var="servicio" itemLabel="#{servicio.nombreServicio}"
							itemValue="#{servicio.idServicio}" />
						<p:ajax
							update=":frmGestionPlantillas:tblMantenerComponente :frmGestionPlantillas:otTituloServicioComponentes"
							listener="#{gestionPlantillasServicioController.visualizarDatosPorServicio}" />
					</p:selectOneMenu>
					<p:panelGrid>
						<h:outputText id="otTituloServicioComponentes"
							value="#{gestionPlantillasServicioController.plantillaModel.servicioSeleccionado.nombreServicio}" />
					</p:panelGrid>
				</div>
				<div align="left">
					<p:commandButton id="btnAgregarComponente"
						value="#{i18n['tipoOperacion.agregar']}"
						actionListener="#{gestionPlantillasServicioController.iniciarFormularioAgregar}"
						oncomplete="PF('wgvFormularioComponente').show()"
						update=":formRegistrarComponente:panAg dlAgregarComponente"
						icon="fa fa-plus-circle" styleClass="btn-nuevo">
					</p:commandButton>
					<p:commandButton value="#{i18n['tipoOperacion.exportar']}"
						icon="fa fa-file-excel-o">
					</p:commandButton>
				</div>

				<br />
				<p:dataTable id="tblMantenerComponente" var="componente"
					widgetVar="wgvTablaMantenerComponente"
					value="#{gestionPlantillasServicioController.plantillaModel.listaComponentes}"
					rows="5"
					filteredValue="#{gestionPlantillasServicioController.plantillaModel.listaComponentesFiltrados}"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" rowIndexVar="index"
					emptyMessage="#{i18n['conf_mantenerSlas.error.noSeEncontro']}">
					<p:ajax event="sort" skipChildren="false" />
					<p:column headerText="#{i18n['conf_mantenerSlas.tabla.id']}"
						style="text-align:center;width:5%">
						<p:outputLabel value="#{index+1}" />
					</p:column>
					<p:column headerText="#{i18n['conf_mantenerSlas.tabla.codigo']}"
						filterBy="#{componente.nombreComponente}"
						style="text-align:center;width:15%;" filterMatchMode="contains"
						sortBy="#{componente.nombreComponente}">
						<h:outputText value="#{componente.nombreComponente}" />
					</p:column>
					<p:column
						headerText="#{i18n['conf_mantenerSlas.tabla.descripcion']}"
						filterBy="#{componente.descripcion}"
						style="text-align:center;width:40%;" filterMatchMode="contains"
						sortBy="#{componente.descripcion}">
						<h:outputText value="#{componente.descTipoComponente}" />
					</p:column>
					<p:column headerText="#{i18n['conf_mantenerSlas.tabla.dias']}"
						style="text-align:center;width:7%;">
						<h:outputText value="#{componente.estadoComponente}" />
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="ui-icon-pencil"
							oncomplete="PF('wgvFormularioComponente').show()"
							update=":formRegistrarComponente:panAg dlAgregarComponente"
							actionListener="#{gestionPlantillasServicioController.iniciarFormularioModificar(componente)}">
						</p:commandButton>
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="ui-icon-trash"
							oncomplete="PF('dgEliminarComponente').show()"
							actionListener="#{gestionPlantillasServicioController.iniciarFormularioEliminar(componente)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>

			</h:form>


			<p:dialog id="dlAgregarComponente"
				widgetVar="wgvFormularioComponente" modal="true" appendTo="@(body)"
				resizable="false" closeOnEscape="true" position="center"
				hideEffect="clip" showEffect="clip" closable="false"
				header="#{gestionPlantillasServicioController.plantillaFormularioModel.obtenerTituloOperacion()}">

				<h:form id="formRegistrarComponente">
					<p:panel id="panAg">
						<p:panelGrid columns="2">
							<p:outputLabel
								value="#{i18n['conf_mantenerSlas.formulario.descripcion']}"
								for="itNombreComponente" />
							<p:inputText id="itNombreComponente" required="true" size="40"
								maxlength="50" requiredMessage="Debe escribir una descripcion"
								value="#{gestionPlantillasServicioController.plantillaFormularioModel.componenteFormulario.nombreComponente}">
							</p:inputText>

							<p:outputLabel
								value="#{i18n['conf_mantenerSlas.formulario.dias']}"
								for="soTipoComponente" />
							<p:selectOneMenu id="soTipoComponente"
								requiredMessage="Seleccione una tipoComponente"
								value="#{gestionPlantillasServicioController.plantillaFormularioModel.componenteFormulario.ctTipoComponente}"
								style="width:125px">
								<f:selectItem itemLabel="Seleccione tipo componente..."
									itemValue="#{null}" />
								<f:selectItems
									value="#{gestionPlantillasServicioController.plantillaFormularioModel.listaTiposComponentes}"
									var="tipoComponente" itemLabel="#{tipoComponente.descripcion}"
									itemValue="#{tipoComponente.idSec}" />
							</p:selectOneMenu>
						</p:panelGrid>
						<br />
						<center>
							<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
								process="@all"
								actionListener="#{gestionPlantillasServicioController.ejecutarTipoOperacion}"
								update=":frmGestionPlantillas:tblMantenerComponente, :frmGestionPlantillas:messages">
								<p:resetInput target="itNombreComponente" />
							</p:commandButton>
							<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
								process="@this"
								oncomplete="PF('wgvFormularioComponente').hide()"
								actionListener="#{gestionPlantillasServicioController.plantillaFormularioModel.inicializarComponenteFormulario}"
								update=":formRegistrarComponente">
								<p:resetInput target="panAg" />
							</p:commandButton>
							<br />
						</center>
					</p:panel>
				</h:form>
			</p:dialog>


			<p:dialog widgetVar="dgEliminarComponente" modal="true"
				appendTo="@(body)" resizable="false" closeOnEscape="true"
				position="center" closable="false" hideEffect="clip"
				showEffect="clip"
				header="#{i18n['conf_mantenerSlas.confirmacion.titulo']}">
				<h:form>
					<center>
						<p:panel>
							<br />
					#{i18n['conf_mantenerSlas.confirmacion.mensaje']}
					<br />
							<br />
							<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
								actionListener="#{gestionPlantillasServicioController.eliminarComponente}"
								update=":frmGestionPlantillas:tblMantenerComponente " />
							&nbsp;&nbsp;&nbsp;&nbsp;
						<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
								onclick="PF('dgEliminarComponente').hide();"
								icon="ui-icon-close" styleClass="ui-confirmdialog-no" />
						</p:panel>
					</center>
				</h:form>
			</p:dialog>
		</ui:define>

	</ui:composition>

</body>
</html>
