<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<body>

	<ui:composition template="../principal.xhtml">
		<ui:define name="content">
			<h:form id="frmGestionServicio">
				<h1>#{i18n['conf_gestionServicios.titulo']}</h1>
				<p:growl id="messages" showDetail="true" />
				<div align="left">
					<p:commandButton id="btnAgregarServicio"
						value="#{i18n['tipoOperacion.agregar']}"
						actionListener="#{gestionServicioController.iniciarFormularioAgregar}"
						oncomplete="PF('wgvFormularioServicio').show()"
						update=":formRegistrarServicio:panAg dlAgregarServicio"
						icon="fa fa-plus-circle" styleClass="btn-nuevo">
					</p:commandButton>
					<p:commandButton value="#{i18n['tipoOperacion.exportar']}"
						icon="fa fa-file-excel-o">
					</p:commandButton>
				</div>
				<br />
				<p:dataTable id="tblMantenerServicio" var="servicio"
					widgetVar="wgvTablaMantenerServicio"
					value="#{gestionServicioController.servicioModel.listaServicio}"
					rows="5"
					filteredValue="#{gestionServicioController.servicioModel.listaServicioFiltrados}"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" rowIndexVar="index"
					emptyMessage="#{i18n['conf_gestionServicios.error.noSeEncontro']}">
					<p:ajax event="sort" skipChildren="false" />
					<p:column headerText="#{i18n['conf_gestionServicios.tabla.id']}"
						style="text-align:center;width:5%">
						<p:outputLabel value="#{index+1}" />
					</p:column>
					<p:column
						headerText="#{i18n['conf_gestionServicios.tabla.codigo']}"
						filterBy="#{servicio.codigoServicio}"
						style="text-align:center;width:15%;" filterMatchMode="contains"
						sortBy="#{servicio.codigoServicio}">
						<h:outputText value="#{servicio.codigoServicio}" />
					</p:column>
					<p:column
						headerText="#{i18n['conf_gestionServicios.tabla.titulo']}"
						filterBy="#{servicio.nombreServicio}"
						style="text-align:center;width:33%;" filterMatchMode="contains"
						sortBy="#{servicio.nombreServicio}">
						<h:outputText value="#{servicio.nombreServicio}" />
					</p:column>
					<p:column
						headerText="#{i18n['conf_gestionServicios.tabla.categoria']}"
						style="text-align:center;width:7%;">
						<h:outputText value="#{servicio.desCategoria}" />
					</p:column>
					<p:column
						headerText="#{i18n['conf_gestionServicios.tabla.grupoAtencion']}"
						style="text-align:center; width:7%;">
						<h:outputText value="#{servicio.desCodTitGrupoAtencion}" />
					</p:column>
					<p:column headerText="#{i18n['conf_gestionServicios.tabla.sla']}"
						style="text-align:center;width:7%;">
						<h:outputText value="#{servicio.desCodTitSLA}" />
					</p:column>
					<p:column headerText="#{i18n['conf_gestionServicios.tabla.estado']}"
						style="text-align:center;width:7%;">
						<h:outputText value="#{servicio.desEstadoServicio}" />
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="fa fa-toggle-on"
							update=":frmGestionServicio:tblMantenerServicio "
							actionListener="#{gestionServicioController.deshabilitarServicio(servicio)}">
						</p:commandButton>
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="ui-icon-pencil"
							oncomplete="PF('wgvFormularioServicio').show()"
							update=":formRegistrarServicio:panAg dlAgregarServicio"
							actionListener="#{gestionServicioController.iniciarFormularioModificar(servicio)}">
						</p:commandButton>
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="ui-icon-trash"
							oncomplete="PF('dgEliminarServicio').show()"
							actionListener="#{gestionServicioController.iniciarFormularioEliminar(servicio)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>

			</h:form>


			<p:dialog id="dlAgregarServicio" widgetVar="wgvFormularioServicio"
				modal="true" appendTo="@(body)" resizable="false"
				closeOnEscape="true" position="center" hideEffect="clip"
				showEffect="clip" closable="false"
				header="#{gestionServicioController.servicioFormularioModel.obtenerTituloOperacion()}">

				<h:form id="formRegistrarServicio">
					<p:panel id="panAg">
						<p:panelGrid columns="2">
							<p:outputLabel
								value="#{i18n['conf_gestionServicios.formulario.codigo']}"
								for="itCodigoServicio" />
							<p:outputLabel id="itCodigoServicio"
								value="#{gestionServicioController.servicioFormularioModel.servicioFormulario.codigoServicio}" />
							<p:outputLabel
								value="#{i18n['conf_gestionServicios.formulario.titulo']}"
								for="itDescripcionServicio" />
							<p:inputText id="itDescripcionServicio" required="true" size="40"
								maxlength="50" requiredMessage="Debe escribir una descripcion"
								value="#{gestionServicioController.servicioFormularioModel.servicioFormulario.nombreServicio}">
							</p:inputText>

							<p:outputLabel
								value="#{i18n['conf_gestionServicios.formulario.categoria']}"
								for="soCategoriaNivel1Servicio" />

							<h:panelGrid columns="3" style="margin-bottom: 10px">
								<p:selectOneMenu id="soCategoriaNivel1Servicio"
									requiredMessage="Seleccione una categoria"
									value="#{gestionServicioController.servicioFormularioModel.categoriaNivel1Seleccionado.id_categoria}"
									style="width:125px">
									<f:selectItem itemLabel="Seleccione Nivel 1..."
										itemValue="#{null}" />
									<f:selectItems
										value="#{gestionServicioController.servicioFormularioModel.listaCategoriasPrimerNivel}"
										var="categoria" itemLabel="#{categoria.descripcion}"
										itemValue="#{categoria.id_categoria}" />
									<p:ajax update="soCategoriaNivel2Servicio"
										listener="#{gestionServicioController.listarCategoriasSegundoNivel}" />
								</p:selectOneMenu>

								<p:selectOneMenu id="soCategoriaNivel2Servicio"
									requiredMessage="Seleccione una categoria"
									value="#{gestionServicioController.servicioFormularioModel.categoriaNivel2Seleccionado.id_categoria}"
									style="width:125px">
									<f:selectItem itemLabel="Seleccione Nivel 2..."
										itemValue="#{null}" />
									<f:selectItems
										value="#{gestionServicioController.servicioFormularioModel.listaCategoriaSegundoNivel}"
										var="categoria" itemLabel="#{categoria.descripcion}"
										itemValue="#{categoria.id_categoria}" />
									<p:ajax update="soCategoriaNivel3Servicio"
										listener="#{gestionServicioController.listarCategoriasTercerNivel}" />
								</p:selectOneMenu>

								<p:selectOneMenu id="soCategoriaNivel3Servicio" required="true"
									requiredMessage="Seleccione una categoria"
									value="#{gestionServicioController.servicioFormularioModel.servicioFormulario.idCategoria}"
									style="width:125px">
									<f:selectItem itemLabel="Seleccione Nivel 3..."
										itemValue="#{null}" />
									<f:selectItems
										value="#{gestionServicioController.servicioFormularioModel.listaCategoriaTercerNivel}"
										var="categoria" itemLabel="#{categoria.descripcion}"
										itemValue="#{categoria.id_categoria}" />
								</p:selectOneMenu>

							</h:panelGrid>
							<p:outputLabel
								value="#{i18n['conf_gestionServicios.formulario.grupoAtencion']}"
								for="soGrupAtenServicio" />

							<p:selectOneMenu id="soGrupAtenServicio" required="true"
								requiredMessage="Seleccione un grupo de atencion"
								value="#{gestionServicioController.servicioFormularioModel.servicioFormulario.idGrupoAtencion}"
								style="width:125px">
								<f:selectItem itemLabel="Seleccione..." itemValue="#{null}" />
								<f:selectItems
									value="#{gestionServicioController.servicioFormularioModel.listaGrupoAtencion}"
									var="grupAtencion"
									itemLabel="#{grupAtencion.codigo}-#{grupAtencion.titulo}"
									itemValue="#{grupAtencion.idGrupoAtencion}" />
							</p:selectOneMenu>



							<p:outputLabel
								value="#{i18n['conf_gestionServicios.formulario.sla']}"
								for="soSlaServicio" />
							<p:selectOneMenu id="soSlaServicio" required="true"
								requiredMessage="Seleccione un sla"
								value="#{gestionServicioController.servicioFormularioModel.servicioFormulario.idSLA}"
								style="width:125px">
								<f:selectItem itemLabel="Seleccione..." itemValue="#{null}" />
								<f:selectItems
									value="#{gestionServicioController.servicioFormularioModel.listaSLAs}"
									var="sla" itemLabel="#{sla.codigo}-#{sla.descripcion}"
									itemValue="#{sla.id_sla}" />
							</p:selectOneMenu>
						</p:panelGrid>
						<br />
						<center>
							<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
								process="@all"
								actionListener="#{gestionServicioController.ejecutarTipoOperacion}"
								update=":frmGestionServicio:tblMantenerServicio, :frmGestionServicio:messages">
							</p:commandButton>
							<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
								process="@this" oncomplete="PF('wgvFormularioServicio').hide()"
								actionListener="#{gestionServicioController.servicioFormularioModel.inicializarServicioFormulario}"
								update=":formRegistrarServicio">
								<p:resetInput target="panAg" />
							</p:commandButton>
							<br />
						</center>
					</p:panel>
				</h:form>
			</p:dialog>


			<p:dialog widgetVar="dgEliminarServicio" modal="true"
				appendTo="@(body)" resizable="false" closeOnEscape="true"
				position="center" closable="false" hideEffect="clip"
				showEffect="clip"
				header="#{i18n['conf_gestionServicios.confirmacion.titulo']}">
				<h:form>
					<center>
						<p:panel>
							<br />
					#{i18n['conf_gestionServicios.confirmacion.mensaje']}
					<br />
							<br />
							<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
								actionListener="#{gestionServicioController.eliminarServicio}"
								update=":frmGestionServicio:tblMantenerServicio " />
							&nbsp;&nbsp;&nbsp;&nbsp;
						<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
								onclick="PF('dgEliminarServicio').hide();" icon="ui-icon-close"
								styleClass="ui-confirmdialog-no" />
						</p:panel>
					</center>
				</h:form>
			</p:dialog>




		</ui:define>

	</ui:composition>

</body>
</html>
