<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<body>

	<ui:composition template="../principal.xhtml">

		<ui:define name="content">
			<h:form id="frmGestionGruposAtencion">
				<h1>#{i18n['conf_gestionUsuarioGrupoAtencion.titulo']}</h1>
				<p:growl id="messages" showDetail="true" />
				<div align="left">
					<p:commandButton id="btnAgregarGrupAtencion"
						value="#{i18n['tipoOperacion.agregar']}"
						actionListener="#{gestionUsuariosController.iniciarFormularioAgregarGrupoAtencion}"
						oncomplete="PF('wgvFormularioGrupAtencion').show()"
						update=":tabGestionUsuGpAtencion:formRegistrarGrupAtencion:panAg :tabGestionUsuGpAtencion:dlAgregarGrupAtencion"
						icon="fa fa-plus-circle" styleClass="btn-nuevo">
					</p:commandButton>
					<p:commandButton value="#{i18n['tipoOperacion.exportar']}"
						icon="fa fa-file-excel-o">
					</p:commandButton>
				</div>
				<br />
				<p:dataTable id="tblGrupAtencion" var="sla"
					widgetVar="wgvTablaGrupAtencion"
					value="#{gestionUsuariosController.slaModel.listaSla}" rows="5"
					filteredValue="#{gestionUsuariosController.slaModel.listaSlaFiltrados}"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" rowIndexVar="index"
					emptyMessage="#{i18n['conf_gestionUsuarioGrupoAtencion.error.noSeEncontro']}">
					<p:ajax event="sort" skipChildren="false" />
					<p:column headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.tabla.id']}"
						style="text-align:center;width:5%">
						<p:outputLabel value="#{index+1}" />
					</p:column>
					<p:column headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.tabla.codigo']}"
						filterBy="#{sla.codigo}" style="text-align:center;width:15%;"
						filterMatchMode="contains" sortBy="#{sla.codigo}">
						<h:outputText value="#{sla.codigo}" />
					</p:column>
					<p:column
						headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.tabla.descripcion']}"
						filterBy="#{sla.descripcion}" style="text-align:center;width:40%;"
						filterMatchMode="contains" sortBy="#{sla.descripcion}">
						<h:outputText value="#{sla.descripcion}" />
					</p:column>
					<p:column headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.tabla.dias']}"
						style="text-align:center;width:7%;">
						<h:outputText value="#{sla.dias}" />
					</p:column>
					<p:column headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.tabla.horas']}"
						style="text-align:center; width:7%;">
						<h:outputText value="#{sla.horas}" />
					</p:column>
					<p:column headerText="#{i18n['conf_gestionUsuarioGrupoAtencion.tabla.minutos']}"
						style="text-align:center;width:7%;">
						<h:outputText value="#{sla.minutos}" />
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="ui-icon-pencil"
							oncomplete="PF('wgvFormularioGrupAtencion').show()"
							update=":formRegistrarGrupAtencion:panAg dlAgregarGrupAtencion"
							actionListener="#{gestionUsuariosController.iniciarFormularioModificarGrupoAtencion(sla)}">
						</p:commandButton>
					</p:column>
					<p:column style="width:50px;text-align: center">
						<p:commandButton icon="ui-icon-trash"
							oncomplete="PF('dgEliminarGrupAtencion').show()"
							actionListener="#{gestionUsuariosController.iniciarFormularioEliminar(sla)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>

			</h:form>


			<p:dialog id="dlAgregarGrupAtencion" widgetVar="wgvFormularioGrupAtencion" modal="true"
				appendTo="@(body)" resizable="false" closeOnEscape="true"
				position="center" hideEffect="clip" showEffect="clip"
				closable="false"
				header="#{gestionUsuariosController.slaFormularioModel.obtenerTituloOperacion()}">

				<h:form id="formRegistrarGrupAtencion">
					<p:panel id="panAg">
						<p:panelGrid columns="2">
							<p:outputLabel
								value="#{i18n['conf_gestionUsuarioGrupoAtencion.formulario.codigo']}"
								for="itCodigoSLA" />
							<p:outputLabel id="itCodigoSLA"
								value="#{gestionUsuariosController.slaFormularioModel.slaFormulario.codigo}" />
							<p:outputLabel
								value="#{i18n['conf_gestionUsuarioGrupoAtencion.formulario.descripcion']}"
								for="itDescripcionSLA" />
							<p:inputText id="itDescripcionSLA" required="true" size="40"
								maxlength="50"
								value="#{gestionUsuariosController.slaFormularioModel.slaFormulario.descripcion}">
							</p:inputText>

							<p:outputLabel
								value="#{i18n['conf_gestionUsuarioGrupoAtencion.formulario.dias']}"
								for="txtDIasSLA" />
							<h:panelGrid columns="2" style="margin-bottom: 10px">
								<p:column>
									<p:inputText id="txtDIasSLA" required="true"
										value="#{gestionUsuariosController.slaFormularioModel.slaFormulario.dias}" />
									<p:slider for="txtDIasSLA" minValue="0" maxValue="10" />
								</p:column>
								<p:column>
									<p:outputLabel value="#{i18n['unidadTiempo.dias']}" />
								</p:column>
							</h:panelGrid>
							<p:outputLabel
								value="#{i18n['conf_gestionUsuarioGrupoAtencion.formulario.horas']}"
								for="txtHorasSLA" />
							<h:panelGrid columns="2" style="margin-bottom: 10px">
								<p:column>
									<p:inputText id="txtHorasSLA" required="true"
										value="#{gestionUsuariosController.slaFormularioModel.slaFormulario.horas}" />
									<p:slider for="txtHorasSLA" minValue="0" maxValue="23" />
								</p:column>
								<p:column>
									<p:outputLabel value="#{i18n['unidadTiempo.horas']}" />
								</p:column>
							</h:panelGrid>


							<p:outputLabel
								value="#{i18n['conf_gestionUsuarioGrupoAtencion.formulario.minutos']}"
								for="txtMinutosSLA" />
							<h:panelGrid columns="2" style="margin-bottom: 10px">
								<p:column>
									<p:inputText id="txtMinutosSLA" required="true"
										value="#{gestionUsuariosController.slaFormularioModel.slaFormulario.minutos}" />
									<p:slider for="txtMinutosSLA" minValue="0" maxValue="59" />
								</p:column>
								<p:column>
									<p:outputLabel value="#{i18n['unidadTiempo.minutos']}" />
								</p:column>
							</h:panelGrid>
						</p:panelGrid>
						<br />
						<center>
							<p:commandButton value="#{i18n['tipoOperacion.aceptar']}" process="@all"
								actionListener="#{gestionUsuariosController.ejecutarGrupoAtencionTipoOperacion}"
								update=":frmGestionGruposAtencion:tblGrupAtencion, :frmGestionGruposAtencion:messages">
							</p:commandButton>
							<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
								process="@this" oncomplete="PF('wgvFormularioGrupAtencion').hide()"
								actionListener="#{gestionUsuariosController.slaFormularioModel.inicializarSlaFormulario}"
								update=":formRegistrarGrupAtencion">
								<p:resetInput target="panAg" />
							</p:commandButton>
							<br />
						</center>
					</p:panel>
				</h:form>
			</p:dialog>


			<p:dialog widgetVar="dgEliminarGrupAtencion" modal="true" appendTo="@(body)"
				resizable="false" closeOnEscape="true" position="center"
				closable="false" hideEffect="clip" showEffect="clip"
				header="#{i18n['conf_gestionUsuarioGrupoAtencion.confirmacion.titulo']}">
				<h:form>
					<center>
						<p:panel>
							<br />
					#{i18n['conf_gestionUsuarioGrupoAtencion.confirmacion.mensaje']}
					<br />
							<br />
							<p:commandButton value="#{i18n['tipoOperacion.aceptar']}"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
								actionListener="#{gestionUsuariosController.eliminarSLA}"
								update=":frmGestionGruposAtencion:tblGrupAtencion " />
							&nbsp;&nbsp;&nbsp;&nbsp;
						<p:commandButton value="#{i18n['tipoOperacion.cancelar']}"
								onclick="PF('dgEliminarGrupAtencion').hide();" icon="ui-icon-close"
								styleClass="ui-confirmdialog-no" />
						</p:panel>
					</center>
				</h:form>
			</p:dialog>



		</ui:define>

	</ui:composition>

</body>
</html>
